<!--css-->
<!--我的左侧css-->
<link rel="stylesheet" href="__RES__/css/my/MyHomePage.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/my/MyHome.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/swiper.min.css" />
<!--我的页面左侧公共部分开始-->
<div class="index-left">
    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wddd.png" alt="">
            我的订单
        </h5>
        <a class='primary-color-hover' href="">我的订单</a>
        <a class='primary-color-hover' href="">我的评价</a>
    </div>

    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wdqb.png" alt="">
            我的钱包
        </h5>
        <a class='primary-color-hover' href="{:url('pc2.0/recharge/balance_record')}" active-class='primary-color'>账户余额</a>
        <a class='primary-color-hover' href="{:url('pc2.0/member_coupon/index')}" active-class='primary-color'>优惠券</a>
        <a class='primary-color-hover' href="{:url('pc2.0/member_packet/index')}" active-class='primary-color'>红包</a>
        <a class='primary-color-hover' href="{:url('pc2.0/integral/my')}" active-class='primary-color'>积分</a>
    </div>

    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wdgz.png" alt="">
            我的关注
        </h5>
        <a class='primary-color-hover' href="" active-class='primary-color border-color'>商品收藏</a>
        <a class='primary-color-hover' href="" active-class='primary-color border-color'>店铺关注</a>
        <a class='primary-color-hover' href="" active-class='primary-color border-color'>内容收藏</a>
    </div>

    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wdgz.png" alt="">
            我的活动
        </h5>
        <a class='primary-color-hover' href="">我的拼团</a>
        <a class='primary-color-hover' href="">我的砍价</a>
        <a class='primary-color-hover' href="">我的抽奖</a>
    </div>

    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wddy.png" alt="">
            代言中心
        </h5>
        <a class='primary-color-hover' href="" active-class='primary-color border-color'>收益</a>
        <a class='primary-color-hover' href="" active-class='primary-color border-color'>粉丝</a>
        <a class='primary-color-hover' href="">邀请</a>
    </div>

    <div class="index-list">
        <h5 class="title">
            <img src="__RES__/imgs/my/wdkf.png" alt="">
            客户服务
        </h5>
        <a class='primary-color-hover' href="">帮助中心</a>
        <a class='primary-color-hover' href="">在线客服</a>
        <a class='primary-color-hover' href="">电话客服</a>
        <a class='primary-color-hover' href="">问题反馈</a>
    </div>
</div>
<!--我的页面左侧公共部分结束-->