<div class="setting-left">
    <!--primary-left-border  当前路径样式-->
    <a class="primary-color-hover" href="{:url('pc2.0/setting/index')}" >个人信息</a>
    <a class="primary-color-hover" href="{:url('pc2.0/address/index')}" >收货地址</a>
    <a class="primary-color-hover" href="{:url('pc2.0/setting/safety')}"  >账户安全</a>
    <a class="primary-color-hover" href="{:url('/pc2.0/setting/relevance')}" >账号关联</a>
</div>
<script>
    $(function(){
        main.pitch_on_style('.setting-left a','primary-left-border primary-color');
    });
</script>