<link href="__RES__/font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__RES__/css/common/main.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__RES__/layui/css/layui.css" rel="stylesheet" type="text/css" media="all"/>
<body class="childrenBody ">
    <div class="main-content" id="mainContent">
        <div class="tabCon">
            <form action="" method="post" name="theForm" enctype="multipart/form-data" id="bonus_form" class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label"><em class="require">* </em>开户行</label>
                    <div class="layui-input-inline">
                        <input type="text" name="" value="{$item.account_bank_name|default=''}" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em class="require">* </em>开户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="" value="{$item.account_name|default=''}" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em class="require">* </em>开户账户</label>
                    <div class="layui-input-inline">
                        <input type="text" name="" value="{$item.bank_number|default=''}" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em class="require">* </em>提现金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="" value="{$item.price|default=''}" class="layui-input" disabled>
                    </div>
                </div>
                <!--是否审核状态-->
                <div class="layui-form-item">
                    <label class="layui-form-label"><em class="require">* </em>审核状态：</label>
                    <div class="layui-input-block">
                        <div class="checkbox_items radio_status" onclick="showunit()">
                            <input type="radio" lay-filter="status" name="status" value="1.4" title="同意" checked>
                            <input type="radio" lay-filter="status" name="status" value="1.5" title="拒绝" style="margin-left: 10px;" id="refuse">

                        </div>
                    </div>
                </div>
                <!--原因-->
                <div class="layui-form-item" id="refuse_reason" hidden>
                    <label class="layui-form-label"><em class="require">* </em>原因：</label>
                    <div class="layui-input-block">
                    <textarea placeholder="审核失败原因，不能超过100字" datatype="*"  nullmsg="请输入原因" errormsg="请输入原因"
                              id="reason" name="reason_1_5" maxlength="100" style="height: 200px;" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="contentShellBtn">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <dt>&nbsp;</dt>
                        <a class="layui-btn" href="javascript:void(0);" onclick="chooseIt({$capital_id})">提交</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="__RES__/js/common/jquery-1.8.2.min.js"></script>
<script src="__RES__/js/common/jquery.cookie.js"></script>
<script src="__RES__/layui/layui.js"></script>
<script src="__RES__/layui/lay/modules/layer.js"></script>
<script src="__RES__/layui/lay/modules/element.js"></script>
<script src="__RES__/layui/lay/modules/element.js"></script>
<script src="__RES__/js/common/main.js"></script>
<script src="__RES__/js/common/jquery.from.js"></script>
<script src="__RES__/js/common/Validform_v5.3.2_ncr_min.js"></script>
<script src="__RES__/js/common/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    main.valid('.layui-form');
    main.form('.layui-form');

    function chooseIt(capital_id) {
        var status = $('input:radio[name="status"]:checked').val();
        var reason_1_5 = $('textarea[name="reason_1_5"]').val();
        layer.msg('确定处理审核吗？', {
            btn: ['确定', '再看看'], yes: function (index) {
                main.ajax({type:'post',url:'/store_capital/isChecking',data:{'capital_id': capital_id,status:status,'reason_1_5':reason_1_5},
                    callback: function (res){
                        if (res.code == 0){
                            layer.msg('操作成功');
                            layer.close(index);
                            parent.layer.closeAll();
                            parent.parent.location.reload();
                        }else {
                            layer.msg(res.message);
                        }
                    }});
            }
        });
    }

    // 切换单选
    function showunit() {
        var get_value = $("input[name='status']:checked").val();
        if (get_value == 1.4) {
            $('#refuse_reason').hide()
        } else {
            $('#refuse_reason').show();
        }
    }

</script>



