{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/step.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__RES__/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/general.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/purebox.css">
<link rel="stylesheet" type="text/css" href="__RES__/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="__RES__/css/calendar.min.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/spectrum.css" />
<link href="__RES__/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<style>
    .layui-input, .layui-select {
        height: 30px !important; width: 300px;
    }
    .goods_search_div{
        margin-left: 10%;
    }
    .text_time .text{width: 300px;background: none!important;}
    .cut-text{
        width: 150px !important;
    }
    .sc-blueBg-btn{
        margin-left: 10px;
    }
    .layui-form-item{
        width: 65%;
        margin: 0px auto;
    }
</style>
{/block}
{block name='title'}{__block__}{/block}
{block name='body'}
{__block__}
<form class="layui-form" action="" method="post">
    <div class="main-content" id="mainContent">
        <div class="tabmenu">
            <ul class="tab">
                {if $Think.INI_CONFIG['IS_LIMIT']}
                <li><a href="javascript:;" onclick="main.jumpFour('client/goods/activity_limit?goods_id={$goods_id}')">限时抢购</a></li>
                {/if}
                {if $Think.INI_CONFIG['IS_CUT']}
                <li ><a href="javascript:;" onclick="main.jumpFour('client/goods/activity_group?goods_id={$goods_id}')">拼团</a></li>
                {/if}
                <li class="active"><a href="javascript:;" onclick="main.jumpFour('client/goods/activity_cut?goods_id={$goods_id}')">砍价</a></li>
            </ul>
        </div>
        <div class="explanation clear" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>1、根据不同活动设置商品信息；</li>
                <li>2、活动包括限时抢购、拼团、砍价；</li>
            </ul>
        </div>
        <div class="ecsc-form-goods">
            <div class="wrapper-list border1">
                <input type="hidden" name="goods_id" value="{$goods_id|default=''}" title/>
                {eq name="$activity_status.status" value="1"}
                <dl>
                    <dt><img style="width: 20px;height: 20px;" src="/template/master/resource/image/common/warning-master.png"></dt>
                    <dd class="layui-input-block">
                        <span style="color: red;">{$activity_status.message}</span>
                    </dd>
                </dl>
                {/eq}
                <!--砍价商品名称-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;砍价商品：</dt>
                    <dd>
                        <input type='text' name='group_goods_name' maxlength="20" value="{$goods.goods_name|default=''}" size='20'
                               class="text" autocomplete="off"
                               placeholder="请输入砍价商品" title disabled
                        />
                        <div class="form_prompt"></div>
                    </dd>
                </dl>
                <!--商品原价-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;商品原价：</dt>
                    <dd>
                        <input type="text" name="group_goods_price" value="{$goods.shop_price|default=''}" size="20" class="text"
                               placeholder="请输入商品原价" autocomplete="off" maxlength="10" title disabled
                        />
                        <div class="form_prompt"></div>
                    </dd>
                </dl>
                <!--砍价默认价-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;砍价最低值 ：</dt>
                    <dd>
                        <input type="*" name="cut_price" value="{$item.Goods.cut_price|default=''}" size="20" class="text"
                               placeholder="请输入砍价最低值" autocomplete="off" maxlength="10"
                        />
                        <div class="form_prompt"></div>
                    </dd>
                </dl>
                <!--商品属性砍价价格-->
                <div class="layui-form-item" style="display:none;">
                    <label class="layui-form-label">设置属性砍价价</label>
                    <div class="layui-input-block">
                        <div class="layui-form">
                            <table class="layui-table spec_table">
                                <thead>
                                <tr>
                                    <th>规格</th>
                                    <th>属性原价</th>
                                    <th>属性砍价底价
                                        <div class="batch">
                                            <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.attr_cut_price').focus();"
                                               class="icon icon-edit" title="批量设置此列"></b>
                                            <div class="batch-input" style="display: none;">
                                                <h6>批量设置砍价底价：</h6>
                                                <a href="javascript:void(0)" class="close"
                                                   onclick="$(this).parent('.batch-input').hide();">
                                                    <div class="fa fa-close (alias)"></div>
                                                </a>
                                                <input type="text" title class="text price attr_cut_price">
                                                <a href="javascript:void(0)" class="ncsc-btn-mini"
                                                   onclick="batchSetTxt($(this))">设置</a>
                                                <span class="arrow"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>属性砍价单刀最低值
                                        <div class="batch">
                                            <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.attr_single_cut_min').focus();"
                                               class="icon icon-edit" title="批量设置此列"></b>
                                            <div class="batch-input" style="display: none;">
                                                <h6>批量设置砍价单刀最低值：</h6>
                                                <a href="javascript:void(0)" class="close"
                                                   onclick="$(this).parent('.batch-input').hide();">
                                                    <div class="fa fa-close (alias)"></div>
                                                </a>
                                                <input type="text" title class="text price attr_single_cut_min">
                                                <a href="javascript:void(0)" class="ncsc-btn-mini"
                                                   onclick="batchSetTxt($(this))">设置</a>
                                                <span class="arrow"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>属性砍价单刀最高值
                                        <div class="batch">
                                            <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.batch_set').focus();"
                                               class="icon icon-edit" title="批量设置此列"></b>
                                            <div class="batch-input" style="display: none;">
                                                <h6>批量设置属性单刀最高值价格：</h6>
                                                <a href="javascript:void(0)" class="close"
                                                   onclick="$(this).parent('.batch-input').hide();">
                                                    <div class="fa fa-close (alias)"></div>
                                                </a>
                                                <input type="text" title class="text price batch_set">
                                                <a href="javascript:void(0)" class="ncsc-btn-mini"
                                                   onclick="batchSetTxt($(this))">设置</a>
                                                <span class="arrow"></span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--上架时间-->
                <dl id="qizhi">
                    <dt><span class="require-field">*</span>&nbsp;生效日期：</dt>
                    <dd>
                        <div class="text_time" id="text_time1">
                            <input name="up_shelf_time" type="text" class="text" id="send_start_date" placeholder="请选择生效日期"
                                   size="22" value="{$item.up_shelf_time|default=''}" readonly="readonly"/>
                        </div>
                    </dd>
                </dl>
                <!--下架时间-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;失效日期：</dt>
                    <dd>
                        <div class="text_time" id="text_time2">
                            <input name="down_shelf_time" type="text" class="text" id="send_end_date" placeholder="请选择失效日期"
                                   size="22" value="{$item.down_shelf_time|default=''}" readonly="readonly"/>
                        </div>
                    </dd>
                </dl>

                <!--持续时间-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;活动有效时间：</dt>
                    <dd>
                        <input type="*" name="continue_time" value="{$item.continue_time|default=''}" size="20" class="text"
                               maxlength="2"
                               autocomplete="off"
                               placeholder="请输入活动有效时间"
                        />

                        <div class="form_prompt"></div>
                    </dd>
                    <span style="line-height: 40px;color: #c3c3c3;padding-left: 18px">发起砍价后，如果超过规定小时时间没下单，则砍价失效</span>
                </dl>

                <!--售卖上限-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;售卖上限：</dt>
                    <dd>
                        <input name="available_sale" type="*" value="{$item.available_sale|default=''}"
                               size="20" class="text"
                               maxlength="8" autocomplete="off"
                               placeholder="请输入售卖上限，填0为无上限"
                        />
                        <div class="form_prompt"></div>
                    </dd>
                    <span style="line-height: 40px;color: #c3c3c3;padding-left: 18px">砍价活动中可兑换最多商品数量</span>
                </dl>

                <!--砍价单刀最低值-->
                <dl>
                    <dt><span class="require-field">*</span>&nbsp;默认砍价单刀阈值（元）：</dt>
                    <dd>
                        <input name="single_cut_min" type="number" id="single_cut_min" value="{$item.single_cut_min|default=''}"
                               size="20" class="text cut-text"
                               maxlength="10" autocomplete="off"
                               placeholder="请输入砍价单刀最低值"
                        />
                        <span style="float: left;margin: 0px 5px">-</span>
                        <input name="single_cut_max" type="number" id="single_cut_max" value="{$item.single_cut_max|default=''}"
                               size="20" class="text cut-text"
                               maxlength="10" autocomplete="off"
                               placeholder="请输入砍价单刀最高值"
                        />
                        <div class="form_prompt"></div>
                    </dd>
                </dl>

                {eq name="$item.status|default=2" value="0"}
                <dl>
                    <dt>未通过原因：</dt>
                    <dd>
                        <textarea name="" maxlength="100" class="textarea" disabled>{$item.reason|default=''}</textarea>
                    </dd>
                </dl>
                {/eq}

                <dl class="button_info">
                    <dt>&nbsp;</dt>
                    <dd>
                        {eq name="$activity_status.status" value="1"}
                        <a type="reset" class="sc-btn btn35 sc-blue-btn"  href="/client/goods/index">返回</a>
                        {else/}
                        <a type="reset" class="sc-btn btn35 sc-blue-btn"  href="/client/goods/index">返回</a>
                        <button class="sc-btn sc-blueBg-btn btn35" type="submit" id="submit">提交</button>
                        {/eq}
                        <input type="hidden" name="type" value="0"/>
                        <input type="hidden" name="cut_goods_id" value="{$item.cut_goods_id|default=''}">
                        <input type="hidden" name="status" value="2">
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</form>
{/block}
{block name='js'}
{__block__}
<script src="__RES__/js/step.js" type="application/javascript"></script>
<script src="__RES__/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__RES__/js/calendar.min.js"></script>
<script type="text/javascript" src="__RES__/js/seller.js"></script>
<script type="text/javascript">

    function openGoods(obj,type) {
        var param = 'cateId='
            +'&brandId='
            +'&keyword='+'&type='+type;
        layer.open({
            type: 2,
            title: obj.title,
            move: false,
            shade: 0,
            shadeClose: true,
            area: ['80%','700px'],
            btn: obj.btn,
            content: '/client/goods/searchGoods?'+param
        });
    }

    main.form();
    $.Datatype.zNum = /^[1-9]\d*$/;
    main.valid('.layui-form');
    // main.laydate([
    //     {
    //         elem: '#up_shelf_time'
    //     },
    //     {
    //         elem: '#down_shelf_time'
    //     }
    // ]);
    // 日期插件
    main.laydate([{
        elem: '#send_start_date'
        , type: 'date'
    }, {
        elem: '#send_end_date'
        , type: 'date'
    }
    ])
    $(function () {
        getProducts('{$item.goods_id?:\'\'}');
    });
    var option = {
        columnDefs: [
            {orderable: false,targets: [1, -1] }
        ],
        //解决从新加载表格内容问题
        destroy:true,
        retrieve:true,
        bLengthChange: false,
        language: {
            "url": "__RES__/js/DataTables-1.10.15/media/chinese.json"
        }
    };

    // 获取规格
    function getProducts(id) {
        if (id === '') return;
        main.ajax({data: {id:id,type:2},url: '/client/goods/getProducts',callback: function (res) {
                if (res.code != 0){
                    layer.msg(res.message);
                    return false;
                }
                if (res.data == ''){
                    $('.spec_table tbody').parents('.layui-form-item').hide();
                } else{
                    $('.spec_table tbody').children().remove();
                    $('.spec_table').dataTable().fnClearTable();    //清空数据
                    $('.spec_table').dataTable().fnDestroy();       // 销毁
                    $('.spec_table tbody').html(res.data).parents('.layui-form-item').show()
                    $('.spec_table').dataTable(option);
                }
            }});
    }
    // 批量设置
    function batchSetTxt(jq) {
        var dt = {},
            txt = jq.prev('.batch_set').val(),
            attr_cut_price = jq.prev('.attr_cut_price').val(),
            attr_single_cut_min = jq.prev('.attr_single_cut_min').val(),
            index = jq.parents('th').index();
        if ($.fn.dataTable.isDataTable('.spec_table')) {
            dt = $('.spec_table').dataTable().api();
        } else {
            dt = $('.spec_table').dataTable(option).api();
        }
        jq.parent('.batch-input').hide();
        dt.$('.batch-' + index).val(txt);
        dt.$('.batch1-' + index).val(attr_cut_price);
        dt.$('.batch2-' + index).val(attr_single_cut_min);
    }

    //日期选择插件调用start sunle
    var opts1 = {
        'targetId': 'send_start_date',//时间写入对象的id
        'triggerId': ['send_start_date'],//触发事件的对象id
        'alignId': 'text_time1',//日历对齐对象
        'format': '-'//时间格式 默认'YYYY-MM-DD HH:MM:SS'
    }, opts2 = {
        'targetId': 'send_end_date',
        'triggerId': ['send_end_date'],
        'alignId': 'text_time2',
        'format': '-'
    }, opts3 = {
        'targetId': 'use_start_date',
        'triggerId': ['use_start_date'],
        'alignId': 'text_time3',
        'format': '-'
    }, opts4 = {
        'targetId': 'use_end_date',
        'triggerId': ['use_end_date'],
        'alignId': 'text_time4',
        'format': '-'
    }
    xvDate(opts1);
    xvDate(opts2);
    xvDate(opts3);
    xvDate(opts4);
    //日期选择插件调用end sunle
</script>
{/block}
