{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link rel="stylesheet" type="text/css" href="__RES__/css/purebox.css">
<link rel="stylesheet" type="text/css" href="__RES__/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="__RES__/css/calendar.min.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/spectrum.css" />
<link rel="stylesheet" type="text/css" href="__RES__/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__RES__/css/main.css" />
<style>
    .layui-form {

    }

    .layui-form .layui-form-item {
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .layui-form .layui-input {
        width: 194px;
        height: 30px;
    }

    .layui-form .layui-form-label {
        font-size: 13px;
        width: 92px;
        margin: 0;
        height: 30px;
        line-height: 30px;
        text-align: left;
        font-weight: normal;
        color: #4b4b4b;
    }

    .layui-form .layui-input-block {
        float: left;
        margin-left: 0;
        height: 30px;
        line-height: 30px;
        min-height: 30px;
    }

    .layui-form .layui-form-radio div {
        margin-left: 17px;
    }

    .layui-form-switch {
        height: 24px;
    }

    .layui-form-onswitch {
        border-color: #FF5722;
        background-color: #FF5722;
    }
    a.btn_trash:hover{
        color: #fff;
    }
    a.btn_trash{
        color: #fff;
        background: #ec5151;
    }
    a.btn_edit:hover{
        color: #fff;
    }


    a.btn_edit{
        color: #fff;
        background: #1e9fff;
    }

</style>
{/block}
{block name='title'}{__block__}{/block}
{block name='body'}
{__block__}


    <form method="post" class="layui-form" action="">
        <!--操作提示begin-->
        <div class="content">
            <div class="explanation" id="explanation">
                <div class="ex_tit">
                    <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
                </div>
                <ul>
                    <li><span>为商品配置标签 </span></li>
                </ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签分类</label>
            <div class="layui-input-block">
                <select name="classify">
                    <option value="0">全部</option>
                    {volist name="tag_classify_data" id="vo"}
                    <option
                            value="{$vo.tag_classify_id}"
                            {eq name="filter_where.tag_classify_id|default=0" value="$vo.tag_classify_id" }selected="selected" {/eq}
                    >{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="search-info">
            <div class="search-form">
                <label class="layui-form-label">标签名称</label>
                <div class="search-key">
                    <input type="text" name="keyword" size="30" class="text text_2" placeholder="标签名称"/>
                    <!--<input type="submit" value=" 搜索 " class="submit"/>-->
                </div>

                <input type="hidden" name="goods_id" value="{:input('goods_id')}">
                <input type="submit" class="btn search_btn" name="secrch_btn" value="查询">
            </div>
        </div>

        <div class="list-div" id="listDiv">
            <table class="ecsc-default-table">
                <thead>
                <tr>
                    <th >标签名称</th>
                    <th >标签分类名称</th>
                    <th >服务内容</th>
                    <th >商品列表展示</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody>
                {empty name='data'}
                <tr><td class="no-records" colspan="5">没有找到任何记录</td></tr>
                {/empty}
                {volist name='data' id='item'}
                <tr>
                    <td >{$item.name}</td>
                    <td >{$item.tag_classify_name}</td>
                    <td >{$item.content|mb_substr=0,50}</td>
                    <td>
                        <input type="checkbox" name="is_show" lay-skin="switch"
                               lay-filter="is_show"
                               lay-text="开|关"
                               data-id="is_show"
                               value="{$item.tag_bind_goods_id}"
                               {empty name="$item.tag_bind_goods_id"} disabled {/empty}
                               {eq name="item.is_show" value="1" }checked{/eq}
                        >
                    </td>
                    <td >
                        {eq name="$item.choose" value="1"}
                                <a class="btn_trash" data-tag_bind_goods_id="{$item.tag_bind_goods_id}" href="javascript:void(0);" ><i class="fa fa-trash-o"></i>移除</a>
                        {else/}
                                <a class="btn_edit" data-tag_id="{$item.tag_id}"  href="javascript:void(0);" ><i class="fa fa-edit"></i>选择</a>
                          {/eq}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </form>


{/block}
{block name='js'}
{__block__}
<script type="text/javascript" src="__RES__/js/seller.js"></script>
<script type="text/javascript">

   $('.btn_edit').click(function () {

       var tag_id = $(this).data('tag_id');

       layer.msg('是否选择该标签?', {
           offset: 'auto',
           time: false,
           btn: ['确定', '取消'], yes: function () {
               main.ajax({
                   type: 'post',
                   url: '/client/goods/chooseTag',
                   data: {
                       goods_id: '{:input("goods_id")}',
                       tag_id: tag_id
                   },
                   callback: function (res) {
                       res.reload = true;
                       main.callback(res);
                   }
               });
           }
       })
   })


   $('.btn_trash').click(function () {

       var tag_bind_goods_id = $(this).data('tag_bind_goods_id');

       layer.msg('是否移除该标签?', {
           offset: 'auto',
           time: false,
           btn: ['确定', '取消'], yes: function () {
               main.ajax({
                   type: 'post',
                   url: '/client/goods/removeTag',
                   data: {
                       tag_bind_goods_id: tag_bind_goods_id
                   },
                   callback: function (res) {
                       res.reload = true;
                       main.callback(res);
                   }
               });
           }
       })
   })



    main.form([{
        selector: 'switch(is_show)', callback: function (data) {
            main.ajax({data: {'id': data.value,'type':data.elem.checked,'goods_id':'{:input("goods_id")}'}, url: '/client/goods/is_show',
                callback: function (res) {
                    if (res.code != 0) {
                        layer.msg('最多可以设置3个标签',{time:800});
                        data.elem.checked = !data.elem.checked
                        main.form()
                    }
                }
            })
        }
    }]);
    main.form();
</script>
{/block}

