body{
    background-color: #f6f6f6;
}
.head-container{
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom:1px  solid #EA5413;
}
.swiper-view{
    width: 1200px;
    height: 431px;
    margin: 0 auto;
}
.swiper-container{
    height: 431px;
}
.swiper-slide>a{
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 401px;
}
.swiper-slide>img{
    display: block;
    width: 900px;
    height: 401px;
}
.swiper-pagination-bullet{
    width: 30px!important;
    height: 1px!important;
}
.swiper-pagination-bullet-active{
    background-color: #ea5514!important;
}
.swiper-button-prev{
    left: 1px!important;
    width: 25px!important;
    height: 60px!important;
    background:rgba(0,0,0,.6) none!important;
}
.swiper-button-prev span{
    display: block;
    width: 10px;
    height: 17px;
    margin: 21px auto;
    line-height: 17px;
    background:url("../../../resource/imgs/brandselection/2.png")no-repeat !important ;
}
.swiper-button-next {
    right: 1px!important;
    width: 25px!important;
    height: 60px!important;
    background:rgba(0,0,0,.6) none!important;
}
.swiper-button-next span{
    display: block;
    width: 10px;
    height: 17px;
    margin: 21px auto;
    text-align: center;
    background:url("../../../resource/imgs/brandselection/1.png")no-repeat !important;
 }
.goods{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 10px;
}
.goods-left{
    width: 470px;
}
.goods-left ul li{
    height: 342px;
}
.goods-left ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.store{
    display: block;
    width: 470px;
    height: 241px;
}
.shop-msg{
    display: flex;
    align-items: center;
    width: 470px;
    height: 101px;
    background: url("../../../resource/imgs/del/store-bg.png");
}
.tag-img{
    width: 62px;
    height: 62px;
    margin-left: 20px;
}
.shop-name{
    width: 310px;
    height: 62px;
    padding: 9px 25px 0 10px;
    box-sizing: border-box;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
.goods-right{
    width: 730px;
    padding: 0 20px;
    box-sizing: border-box;
}
.goods-right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.goods-right ul li{
    width: 220px;
    height: 342px;
    padding-top:9px;
    box-sizing: border-box;
    background-color: #fff;
}
.goods-right ul{
    height: 342px;
    background-color: #fff;

}
.goods-right ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.goods-img{
    display: block;
    width: 220px;
    height: 220px;
}
.goods-tit{
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
.cart{
    margin-top: 12px;
    padding: 0 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.public-bottom-box{
    margin-top:0;
}

.goods-category{
    width: 1200px;
    margin:  40px auto 0;
    border:1px solid #ddd;
    background-color: #fff;
}
.goods-category>ul{
    height: 50px;
}
.goods-category>.second-menu{
    display: none;
}
.goods-category>ul>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    float: left;
    height: 100%;
    cursor: pointer;
}
.goods-category>ul>li:hover a{
    color: #fff;
}
.goods-category>.second-menu>li:hover a{
    color: #fff;
}
.all-menu{
    position: relative;
}
.all-menu>a>div img{
    width: 18px !important;
    height: 18px !important;
    float: left;
    margin: 0px!important;
    position: absolute;
    top: 17px;
    right: 16px;
}
.all-menu>a>div span{
    float: left;
    display: inline;
    text-align: left !important;
    width: 70px;
    position: absolute;
    top: 12px;
    left: 16px;


}
.goods-category>ul>.active>a{
    color: #fff;
}
.goods-category>ul>li>a{
    flex:1;
    width: 100%;
    display: block;
    color: #000;
}
.goods-category>ul>li>a>div{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.goods-category>ul>li>a img{
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.goods-category>ul>li span{
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
}
.goods-category .all-menu{
    position: relative;
}
.goods-category .all-menu .find-menu{
    display: none;
    width: 518px;
    height: 168px;
    position: absolute;
    top: 82px;
    right: 0px;
    padding-top: 13px;
    box-sizing: border-box;
}
.goods-category .all-menu:hover .find-menu{
    display: block;
}
.goods-category .all-menu .find-menu .triangle{
    border: 12px solid transparent;
    border-bottom-color: #EDEDED;
    position: absolute;
    top: -10px;
    right: 65px;
    width: 0px;
    height: 0px;

}
.goods-category .all-menu .find-menu .triangle:before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -8px;
    left: -10px;
}
.goods-category .all-menu .find-menu .menu-con{
    height: 155px;
    background: #fff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.goods-category .all-menu .find-menu .menu-con>ul::-webkit-scrollbar {
    display: none;
    opacity: 0;
}
.goods-category .all-menu .find-menu .menu-con>ul:vertical {
    display: none;
    opacity: 0;
}



.goods-category .all-menu .find-menu .menu-con>ul{
    overflow: auto;
    height: 100%;
}
.goods-category .all-menu .find-menu .menu-con>ul>li{
    width: 90px;
    height: 27px;
    border: 1px solid #fff;
    border-radius: 13px;
    text-align: center;
    line-height: 27px;
    color: #666666;
    float: left;
    margin-right: 15px;
    margin-bottom: 12px;
}
