.index-box .evaluate-title {
  height: 100px;
  width: 1200px;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 25px;
  color: #010101;
  margin-bottom: 25px;
}
.index-box .evaluate-title p {
  font-size: 12px;
  color: #A1A1A9;
  margin-top: 10px;
}
.index-box .evaluate-title p i {
  color: #010101;
  font-style: inherit;
}
.index-box .evaluate-con {
  height: 320px;
  background: #fff;
}
.index-box .evaluate-con .goods {
  float: left;
  width: 320px;
  height: 320px;
  border-right: 1px solid #F0F3EF;
  padding-top: 55px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.index-box .evaluate-con .goods img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.index-box .evaluate-con .goods .pic {
  margin: 10px 0px;
}
.index-box .evaluate-con .goods .goods-name {
  display: inline-block;
  width: 220px;
  line-height: 22px;
}
.index-box .evaluate-con .goods .goods-specification {
  color: #999999;
}
.index-box .evaluate-con .evaluate {
  float: left;
  padding-top: 50px;
  padding-left: 75px;
  position: relative;
  width: 61%;
}
.index-box .evaluate-con .evaluate ul li {
  font-size: 12px;
  margin-bottom: 15px;
}
.index-box .evaluate-con .evaluate ul li .time {
  color: #999999;
}
.index-box .evaluate-con .evaluate ul li .tit {
  width: 130px;
  text-align: center;
  color: #666666;
}
.index-box .evaluate-con .evaluate ul li .con {
}
.index-box .evaluate-con .evaluate ul li .con .start-box img {
  cursor: pointer;
}
.index-box .evaluate-con .evaluate ul li .con .upload {
  display: flex;
  justify-content: flex-start;
}
.index-box .evaluate-con .evaluate ul li .con .upload p {
  color: #666666;
}
.index-box .evaluate-con .evaluate ul li .con .upload .img-list {
  overflow: hidden;
  padding-top: 15px;
}
.index-box .evaluate-con .evaluate ul li .con .upload .video-list {
  overflow: hidden;
  padding-top: 15px;
}
.index-box .evaluate-con .evaluate ul li .con .upload .video-list video {
  width: 100% ;
  height: 100%;
}
.index-box .evaluate-con .evaluate ul li .con .upload .img-box {
  float: left;
  width: 55px;
  height: 55px;
  position: relative;
  background: #eee;
  margin-right: 10px;
  cursor: pointer;
}
.index-box .evaluate-con .evaluate ul li .con .upload .img-box .play {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.index-box .evaluate-con .evaluate ul li .con .upload .img-box .del {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 9;
}
.index-box .evaluate-con .evaluate ul li .con .upload .img-box img {
  width: 100%;
  height: 100%;
}
.index-box .cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.index-box .cover video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
