{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
{/block}
{block name='body'}
<style>
    .calculate span {
        margin-right: 20px;
    }
</style>
{__block__}
<form action="" name="searchForm" id="searchForm" class="layui-form" method="get">
    <link href="__RES__/css/common/main.css" rel="stylesheet" type="text/css"/>

    <!--起止时间开始-->
    <div class="layui-form-item order_item">
        <label class="layui-form-label">申请时间：</label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <input type="text" name="start_date" id="start_date" lay-verify="datetime" placeholder="不限" value="{:input('start_date','')}" readonly autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="end_date" id="end_date" lay-verify="datetime" placeholder="至今" value="{:input('end_date','')}" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <!--起止时间结束-->

    <!--关键词开始-->
    <div class="layui-form-item order_item">
        <label class="layui-form-label">关键词：</label>
        <div class="layui-input-block">
            <input type="text" name="keywords" value="{:input('keywords','')}" autocomplete="off" placeholder="订单号" class="layui-input">
            <button class="layui-btn" lay-submit="">搜索</button>
        </div>
    </div>
    <!--关键词结束-->

    <input type="hidden" name="distribution_id" value="{$distribution_id}">

    <div class="calculate">
        <span>
            <a rel="{$memberInfo.avatar}" class="preview">
                <img src="{$memberInfo.avatar?:'?'}" style="width: 40px;height: 40px;border: 1px solid #e6e6e6;border-radius: 100%;" class="avatar" alt="头像" onerror="this.src='__RES__/image/common/imageError.png'" />
            </a>{$memberInfo.nickname|default=''}的提现记录
        </span>
    </div>
    <!--列表-->
    <div class="layui-form">
        <table class="layui-table goods-list">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>申请提现金额</th>
                <th>手续费用</th>
                <th>提现方式</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>到账时间</th>
            </tr>
            </thead>
            <tbody>
            {empty name='data'}
            <tr class='emptyTable'>
                <td colspan="100" style="font-size: 25px;">暂无数据</td>
            </tr>
            {/empty}
            {volist name="data" id="item"}
            <tr>
                <td>{$item.withdraw_number|default=''}</td>
                <td>{$item.price|default=''}</td>
                <td>{$item.service_charge|default=''}</td>
                <td>
                    {switch name="item.distribution_type"}
                    {case value="1"}余额{/case}
                    {case value="2"}微信{/case}
                    {case value="3"}银行卡
                     <hr>
                    {$item.card_bank_name|default=''} -
                    {$item.card_bank_owner|default=''} -
                    {$item.card_number|default=''}
                    {/case}
                    {default /}出错啦
                    {/switch}
                </td>
                <td>{$item.create_time|default=''}</td>
                <td>
                    {switch name="item.status"}
                    {case value="0"}待确认{/case}
                    {case value="1"}已确认转账{/case}
                    {case value="2"}<font color="red">暂停转账</font>{/case}
                    {default /}出错啦
                    {/switch}
                </td>
                <td>{$item.end_time|default='-'}</td>
            </tr>
            {/volist}
            </tbody>
            <tfoot>
            {notempty name='data'}
            <tr>
                <td colspan="100">
                    <span style="float:right;">{:$data->render()}</span>
                </td>
            </tr>
            {/notempty}
            </tfoot>
        </table>
    </div>
</form>

{/block}
{block name='js'}
{__block__}
<script src="__RES__/js/common/step.js" type="application/javascript"></script>
<script src="__RES__/js/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>
{/block}
{block name='script'}
{__block__}
<script>
    main.form('.layui-form');
    function checkTransfer() {

        var checked = $('tbody .chk:checked');
        if (checked.length === 0) {
            layer.msg('请选择操作数据', {offset: '400px', time: 2000});
            return false;
        }
        var distribution_withdraw_id = [];
        checked.each(function (i, o) {
            distribution_withdraw_id.push($(o).val());
        });
        if (distribution_withdraw_id.length > 0) distribution_withdraw_id = distribution_withdraw_id.join(',');

        layer.msg('确定转账吗？', {
            btn: ['确定', '再看看'], yes: function (index) {
                main.ajax({
                    data: {distribution_withdraw_id:distribution_withdraw_id}, url: '/distribution_withdraw/checkTransfer', callback: function (res) {
                        if (res.code != 0) {
                            layer.msg(res.message);
                            return false;
                        } else {
                            layer.msg(res.message);
                            window.location.reload();
                        }
                    }
                });
            }
        });
    }

    function stopTransfer() {

        var checked = $('tbody .chk:checked');
        if (checked.length === 0) {
            layer.msg('请选择操作数据', {offset: '400px', time: 2000});
            return false;
        }
        var distribution_withdraw_id = [];
        checked.each(function (i, o) {
            distribution_withdraw_id.push($(o).val());
        });
        if (distribution_withdraw_id.length > 0) distribution_withdraw_id = distribution_withdraw_id.join(',');

        layer.msg('确定暂停转账吗？', {
            btn: ['确定', '再看看'], yes: function (index) {
                main.ajax({
                    data: {distribution_withdraw_id:distribution_withdraw_id}, url: '/distribution_withdraw/stopTransfer', callback: function (res) {
                        if (res.code != 0) {
                            layer.msg(res.message);
                            return false;
                        } else {
                            layer.msg(res.message);
                            window.location.reload();
                        }
                    }
                });
            }
        });
    }

    function exportList() {
        $("#searchForm").append("<input type='text' name='dc' id='dc' value='dc'>");
        $("#searchForm").submit();
        $("#dc").remove();
    }

    //重定向本身
    function reloadSelf(args) {
        var param = '',key = Object.keys(args);
        if (key.length > 0){
            $.each(args,function (i,o) {
                param += '&' + i + '=' + o;
            });
            param = param.substr(1);
        }
        console.log(param);
        location.href='?' + param;
    }

    main.laydate([{
        elem: '#start_date',
        type: 'datetime'
    },{
        elem: '#end_date',
        type: 'datetime'
    }]);
</script>
{/block}