<!--公共头部结束-->
{extend name='public/my_header' /}

{block name='content_css'}
<!--我的设置左侧css-->
<link rel="stylesheet" href="__RES__/css/my/MySetting.css" />

<link rel="stylesheet" href="__RES__/css/my/ChangePassword.css" />
{/block}
{block name="content"}
		<!--我的设置主体-->
	  <div class="setting">
	  <!--据中部分-->
	    <div class="setting-center">
	    	<!--左侧列表-->
			{include file="public/setting_left" /}
	      <!--右侧内容-->
	      <div class="setting-right">
	      	<!--修改登录密码开始-->
	      	 <div class="change-password">
			    <div class="title">
			      	修改登录密码
			    </div>
			    <form action="" id="upload_password">
			      <div class="password-box">
			        <div class="input-box">
			          <span>原密码：</span>
			          <input type="password" name="old_password" datatype="*" nullmsg="请填写原密码" errormsg="请填写原密码" v-model="old_password">
			        </div>
			        <div class="input-box">
			          <span>新密码：</span>
			          <input type="password" name="password" datatype="*" nullmsg="请填写新密码" errormsg="请填写新密码" v-model="new_password">
			        </div>
			        <div class="input-box">
			          <span>确认新密码：</span>
			          <input type="password" name="confirm_password" datatype="*" nullmsg="请确认新密码" errormsg="请确认新密码" v-model="confirm_password">
			        </div>
			        <input type="submit" class="primary-background-color btn" value="完成" >
			      </div>
			    </form>
			  </div>
				  <!--修改登录密码结束-->
	      </div>
	    </div>
	  </div>
	  <!--我的设置主体部分结束-->
{/block}
{block name="js"}

<script>
	main.valid('#upload_password');
</script>
{/block}
