{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}

{/block}
{block name='body'}
{__block__}
<!--操作提示begin-->
<div class="content">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li><span>会员充值编辑类型和到款状态是不可以修改的。</span></li>
                <li><span>标识“<font color="red">*</font>”的选项为必填项，其余为选填项。</span></li>
            </ul>
        </div>
    </div>
</div>
<!--操作提示end-->
<!--表单-->
<div class="contentShell">
    <form class="layui-form" action="" method="post">

        <!--选择会员-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><em class="require">* </em>选择会员</label>
                <div class="layui-input-block">
                    <select name="member_id" lay-search="">
                        <option value="" {eq name="item.member_id|default=''" value="" }selected{/eq}>请选择会员</option>
                        {volist name='memberClassify' id='vo'}
                        <option value="{$vo.member_id}" {present name="item.consumption_id"}{eq name="$vo.member_id"
                                value="item.member_id" }selected{/eq}{/present}>{$vo.phone}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <!--金额-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>金额</label>
            <div class="layui-input-inline">
                <input type="number" name="price" value="{$item.price|default=''}"
                       datatype="*"
                       nullmsg="请填写金额" errormsg="请填写金额"
                       autocomplete="off" placeholder="请填写金额" class="layui-input">
            </div>
        </div>

        <!--支付方式-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><em class="require">* </em>支付方式</label>
                <div class="layui-input-block">
                    <select name="way" lay-search="">
                        <option value="1" {present name="item.consumption_id"}{eq name="item.member_id" value="1" }selected{/eq}{/present}>支付宝</option>
                        <option value="2" {present name="item.consumption_id"}{eq name="item.member_id" value="2" }selected{/eq}{/present}>微信</option>
                        <option value="3" {present name="item.consumption_id"}{eq name="item.member_id" value="3" }selected{/eq}{/present}>银行卡</option>
                        <option value="5" {present name="item.consumption_id"}{eq name="item.member_id" value="5" }selected{/eq}{/present}>线下</option>
                    </select>
                </div>
            </div>
        </div>

        <!--类型-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="0" title="充值"
                       {eq name="item.type|default=''" value="充值" }checked{/eq}
                >
                <input type="radio" name="type" value="1" title="提现"
                       {eq name="item.type|default=''" value="提现" }checked{/eq}
                >
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">管理员备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="describe" maxlength="100" class="layui-textarea">{$item.describe|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.consumption_id"}
                <input type="hidden" name="consumption_id" value="{$item.consumption_id}">
                {/present}
                {eq name="$Request.action" value="create"}
                <input type="hidden" name="status" value="2">
                {/eq}
                <button class="layui-btn" type="submit" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name='js'}
{__block__}
{/block}
{block name='script'}
{__block__}
<script>
    main.form();
    main.valid('.layui-form');
    main.file();
</script>
{/block}
{block name='highSearch'}{/block}