* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.index-box .index-right .title {
  line-height: 36px;
  font-size: 14px;
  font-weight: bolder;
  background: #fff;
  margin-bottom: 20px;
  text-indent: 20px;
}
.index-box .index-right .refund {
  background: #fff;
}
.index-box .index-right .refund .refund-tit {
  height: 60px;
  border-left: 2px solid #2AC05D;
  line-height: 60px;
  color: #2AC05D;
  text-indent: 18px;
  border-bottom: 1px solid #F1F1F1;
}
.index-box .index-right .refund .refund-tit span {
  font-size: 12px;
}
.index-box .index-right .refund .refund-tit .line {
  margin: 0px 10px;
}
.index-box .index-right .refund .refund-con {
  background: #fff;
  padding-bottom: 35px;
  padding-right: 20px;
}
.index-box .index-right .refund .refund-con .progress {
  margin: 0px auto;
  padding-top: 70px;
  padding-left: 90px;
  overflow: hidden;
  padding-bottom: 75px;
}
.index-box .index-right .refund .refund-con .progress .step {
  float: left;
  text-align: center;
  font-size: 12px;
}
.index-box .index-right .refund .refund-con .progress .step .progress-box {
  float: left;
  position: relative;
}
.index-box .index-right .refund .refund-con .progress .step .progress-box .txt {
  position: absolute;
  top: 62px;
  left: -30px;
  color: #B7B7B7;
}
.index-box .index-right .refund .refund-con .progress .step .bor {
  float: left;
  position: relative;
  width: 232px;
  height: 6px;
  background: #CFCFCF;
  top: 21px;
  margin-left: -1px;
}
.index-box .index-right .refund .refund-con .progress .step .bor span {
  display: block;
  float: left;
  width: 0px;
  height: 6px;
  margin-right: 7px;
  position: absolute;
  border-radius: 7px;
  top: 0px;
  left: 0px;
  background: #2AC05D;
}
.index-box .index-right .refund .refund-con .progress .step .first {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  line-height: 23px;
  color: #CFCFCF;
  margin-bottom: 14px;
}
.index-box .index-right .refund .refund-con .progress .step .first img {
  position: relative;
  z-index: 100;
  top: 10px;
  margin-left: -3px;
}
.index-box .index-right .refund .refund-con .progress .step .first .active-checked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .step .first .checked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .step .first .unchecked {
  display: block;
}
.index-box .index-right .refund .refund-con .progress .step .first i {
  font-style: initial;
}
.index-box .index-right .refund .refund-con .progress .step .time {
  width: 86px;
}
.index-box .index-right .refund .refund-con .progress .active .progress-box .txt {
  color: #2AC05D;
}
.index-box .index-right .refund .refund-con .progress .active .first .active-checked {
  display: block;
}
.index-box .index-right .refund .refund-con .progress .active .first .checked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .active .first .unchecked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .active .bor span {
  width: 100%;
}
.index-box .index-right .refund .refund-con .progress .half .progress-box .txt {
  position: absolute;
  top: 62px;
  left: -20px;
  color: #2AC05D;
}
.index-box .index-right .refund .refund-con .progress .half .first img {
  top: 0px;
}
.index-box .index-right .refund .refund-con .progress .half .first .active-checked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .half .first .checked {
  display: block;
}
.index-box .index-right .refund .refund-con .progress .half .first .unchecked {
  display: none;
}
.index-box .index-right .refund .refund-con .progress .half .bor span {
  width: 50%;
}
.index-box .index-right .refund .refund-con .progress .finish {
  margin-left: 2px;
}
.index-box .index-right .refund .refund-con .progress .finish img {
  position: relative;
}
.index-box .index-right .refund .refund-con .phase {
  font-size: 12px;
  padding-left: 40px;
}
.index-box .index-right .refund .refund-con .phase .info {
  border-bottom: 1px solid #F1F1F1;
  font-size: 14px;
  padding-bottom: 10px;
  padding-right: 60px;
  display: inline-block;
  overflow: hidden;
}
.index-box .index-right .refund .refund-con .phase .info img {
  float: left;
  position: relative;
  top: 16px;
  margin-right: 10px;
}
.index-box .index-right .refund .refund-con .phase .info .address-box {
  line-height: 24px;
  float: left;
}
.index-box .index-right .refund .refund-con .phase ul li {
  line-height: 25px;
  color: #8A8A8A;
  list-style: disc;
}
.index-box .index-right .refund .refund-con .phase .btn-group {
  margin-top: 25px;
}
.index-box .index-right .refund .refund-con .phase .btn-group a {
  display: inline-block;
  padding: 0px 15px;
  height: 22px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  margin-right: 5px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right {
  box-sizing: border-box;
  border-top: 1px solid #F1F1F1;
  margin-top: 20px;
  padding-top: 20px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress {
  height: 242px;
  overflow: auto;
  padding-top: 5px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  background: #BCBCBC;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #EBEBEB;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box {
  overflow: hidden;
  font-size: 12px;
  margin-top: -3px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .perch {
  width: 24px;
  height: 24px;
  text-align: center;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .perch span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #C6C6C6;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .time {
  float: left;
  text-align: right;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .time span {
  display: block;
  transform: scale(0.8);
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .line-box {
  float: left;
  margin: 0px 3px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .line-box .line {
  height: 40px;
  width: 1px;
  background: #DFDFDF;
  position: relative;
  top: -3px;
  left: 12px;
}
.index-box .index-right .refund .refund-con .phase .obligation-right .logistics-progress .progress-box .logistics-info {
  float: left;
}
.index-box .index-right .refund-detail {
  padding: 20px;
  padding-top: 0px;
  font-size: 12px;
  background: #fff;
  margin-top: 20px;
}
.index-box .index-right .refund-detail .tit {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
}
.index-box .index-right .refund-detail .tit .left {
  float: left;
  font-size: 14px;
}
.index-box .index-right .refund-detail .tit .right {
  float: right;
}
.index-box .index-right .refund-detail .tit .right a {
  display: inline-block;
  width: 93px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  border-radius: 2px;
  margin-left: 5px;
}
.index-box .index-right .refund-detail .tit .right a img {
  position: relative;
  top: 3px;
}
.index-box .index-right .refund-detail .refund-detail-con {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  display: flex;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .goods-box {
  padding: 15px 0px;
  padding-left: 15px;
  display: flex;
  flex: 2;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .goods-box img {
  width: 60px;
  height: 60px;
  border: 1px solid #E7E7E7;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .goods-box .goods-name {
  line-height: 62px ;
  margin-left: 20px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .con {
  padding: 15px 0px;
  flex: 1;
  line-height: 62px;
  text-align: center;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .list-tit {
  width: 109px;
  border-right: 1px solid #eee;
  padding: 15px 0px;
  text-align: center;
}
.index-box .index-right .refund-detail .refund-detail-con .con-list .list-con {
  padding: 15px 0px;
  text-indent: 20px;
}
.index-box .index-right .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none;
}
.index-box .index-right .cover .box {
  width: 440px;
  height: 220px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.5);
}
.index-box .index-right .cover .box .tit {
  height: 30px;
  line-height: 30px;
  background: #F3F3F3;
  position: relative;
  font-size: 12px;
  text-indent: 10px;
  color: #4E4E4E;
}
.index-box .index-right .cover .box .tit .del {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.index-box .index-right .cover .box .box-con {
  text-align: center;
}
.layui-layer-content{
  text-align: center;
}
.layui-layer-content h5 {
  font-size: 20px;
  /*margin-top: 30px;*/
}
.layui-layer-content p {
  color: #999999;
  width: 240cancelpx;
  margin: 0px auto;
  margin-top: 10px;
  line-height: 24px;
}
.index-box .index-right .cover .box .box-con h5 {
  font-size: 20px;
  margin-top: 30px;
}
.index-box .index-right .cover .box .box-con p {
  color: #999999;
  width: 310px;
  margin: 0px auto;
  margin-top: 10px;
  line-height: 24px;
}
.index-box .index-right .cover .box .box-con .btn-group {
  font-size: 14px;
  margin-top: 20px;
}
.index-box .index-right .cover .box .box-con .btn-group a {
  width: 90px;
  height: 36px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  line-height: 36px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}
.index-box .index-right .cover .box .box-con .btn-group .cancel {
  color: #333333;
  background: #F5F5F5;
}
.index-box .index-right .cover .box .box-con .btn-group .confirm {
  color: #fff;
}
.index-box .index-right .cover .logistics-box {
  width: 690px;
  height: 590px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.5);
}
.index-box .index-right .cover .logistics-box .tit {
  height: 30px;
  line-height: 30px;
  background: #F3F3F3;
  position: relative;
  font-size: 12px;
  text-indent: 10px;
  color: #4E4E4E;
}
.index-box .index-right .cover .logistics-box .tit .del {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.index-box .index-right .cover .logistics-box .logistics-con {
  padding-left: 30px;
  padding-top: 20px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list {
  margin-bottom: 15px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-tit {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con {
  position: relative;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .active div {
  display: block !important;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .bor {
  border: 1px solid #CCCCCC;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .btn {
  display: inline-block;
  width: 94px;
  height: 32px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  color: #808080;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid #CCCCCC;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .btn div {
  display: none;
  position: absolute;
  border: 9px solid transparent;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  width: 0px;
  height: 0px;
  bottom: 0px;
  right: 0px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .btn div img {
  position: absolute;
  bottom: -7px;
  right: -7px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .address-detailed-box {
  display: inline-block;
  width: 234px;
  height: 34px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  padding-right: 26px;
  cursor: pointer;
  font-size: 12px;
  line-height: 32px;
  color: #666666;
  padding-left: 5px;
  position: relative;
  z-index: 3;
  background: #fff;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .address-detailed-box img {
  position: absolute;
  right: 8px;
  top: 11px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .border-bottom {
  border-bottom: none;
  height: 35px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box {
  padding: 10px;
  box-sizing: border-box;
  width: 446px;
  border: 1px solid #CCCCCC ;
  position: absolute;
  left: 0px;
  top: 34px;
  font-size: 12px;
  background: #fff;
  z-index: 2;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .detailed-box-top {
  height: 24px;
  position: relative;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .detailed-box-top .close {
  float: right;
  position: relative;
  top: 7px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .detailed-box-top .address-text {
  float: left;
  height: 24px;
  max-width: 95px;
  padding-left: 10px;
  padding-right: 24px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .detailed-box-top .address-text img {
  position: absolute;
  right: 5px;
  top: 7px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .address-detailed {
  padding: 0px 15px;
  min-height: 70px;
  max-height: 150px;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .address-detailed::-webkit-scrollbar {
  width: 0 !important;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .address-detailed a {
  display: inline-block;
  padding: 5px 8px;
  color: #333333;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .detailed-box .address-detailed .checked {
  color: #fff;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .text {
  width: 234px;
  height: 32px;
  border: 1px solid #CCCCCC;
  text-indent: 6px;
  outline: none;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .list-con .big-text {
  width: 500px;
  height: 32px;
  border: 1px solid #CCCCCC;
  text-indent: 6px;
  outline: none;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list {
  overflow: hidden;
  padding-top: 10px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .img-box {
  float: left;
  width: 54px;
  height: 54px;
  position: relative;
  background: #eee;
  margin-right: 10px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .img-box .del {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .img-box img {
  width: 100%;
  height: 100%;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .label {
  display: block;
  width: 52px;
  height: 52px;
  border: 1px #E3E3E3 dashed ;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 19px;
  color: #A2A2A2;
  float: left;
  font-size: 12px;
  cursor: pointer;
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .label p {
  transform: scale(0.8);
}
.index-box .index-right .cover .logistics-box .logistics-con .logistics-list .img-list .label img {
  width: 17px;
}
.index-box .index-right .cover .logistics-box .logistics-con .submit {
  width: 105px;
  height: 35px;
  margin-top: 15px;
  border: none;
  outline: none;
  color: #fff;
}
.index-box .index-right .cover .logistics-box .logistics-store .logistics-list {
  position: relative;
}
.index-box .index-right .cover .logistics-box .logistics-store .logistics-list .store-box {
  display: inline-block;
  width: 234px;
  height: 34px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  padding-right: 26px;
  cursor: pointer;
  font-size: 12px;
  line-height: 32px;
  color: #666666;
  padding-left: 5px;
  position: relative;
  z-index: 3;
  background: #fff;
}
.index-box .index-right .cover .logistics-box .logistics-store .logistics-list .store-box img {
  position: absolute;
  right: 8px;
  top: 11px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con {
  display: none;
  z-index: 2;
  position: absolute;
  top: 34px;
  left: 0px;
  background: #fff;
  padding: 15px;
  height: 245px;
  width: 475px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list {
  height: 217px;
  width: 446px;
  padding-left: 20px;
  padding-right: 30px;
  overflow: auto;
  box-sizing: border-box;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  background: #BCBCBC;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #EBEBEB;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  font-size: 12px;
  color: #464646;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li label {
  cursor: pointer;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .time {
  margin-left: 10px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .time img {
  position: relative;
  top: 3px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .distance {
  margin-left: 10px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .distance img {
  position: relative;
  top: 2px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .address {
  line-height: 18px;
  margin-top: 5px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #C1C0C0;
  background: #EEEEEE;
  border-radius: 50%;
  top: 12px;
  left: -20px;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .active {
  background: none;
}
.index-box .index-right .cover .logistics-box .logistics-store .list-con .address-con .address-list ul li .active span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
