{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/common/step.css" rel="stylesheet" type="text/css"/>
<link href="__RES__/js/DataTables-1.10.15/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

{/block}
{block name='body'}
{__block__}
<style>
    .layui-laydate{
        margin-top: 30px;
    }
</style>
<!--操作提示begin-->
<div class="content">
    <div class="explanation" id="explanation">
        <div class="ex_tit">
            <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
        </div>
        <ul>
            <li><span>1、根据条件查询砍价商品</span></li>
            <li><span>2、当活动状态为进行中时，只能查看砍价明细，不能修改、删除商品，当活动结束时才可编辑和删除</span></li>
            <li><span>3、审核未通过或待审核时，无法查看砍价明细，只有已通过的商品才可以查看砍价明细</span></li>
        </ul>
    </div>
</div>
<!--操作提示over-->
<!--表单开始-->
<form class="layui-form" action="" method="post">
    <div class="contentShell65">
        <input type="hidden" name="goods_id" value="{$item.goods_id|default=''}" title/>
        <!--商品名称-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>砍价商品</label>
            <div class="layui-input-inline">
                <input type="text" name="group_goods_name" value="{$item.Goods.goods_name|default=''}" title readonly
                       autocomplete="off" placeholder="请选择砍价商品" class="layui-input">
            </div>
            {neq name="$item.status|default=''" value="2"}
            <a href="javascript:void(0);" onclick="openCity({title:'选择砍价商品',btn:[]},2)"
               class="layui-btn layui-btn-normal layui-input-inline" style="width: auto">选择商品</a>
            {/neq}
        </div>
        <!--商品原价-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>商品原价</label>
            <div class="layui-input-inline">
                <input type="number" name="group_goods_price" value="{$item.Goods.shop_price|default=''}" title readonly
                       autocomplete="off" placeholder="请选择砍价商品" class="layui-input">
            </div>
        </div>
        <!--商品砍价目标值-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>砍价最低值</label>
            <div class="layui-input-inline">
                <input type="*" name="cut_price" value="{$item.Goods.cut_price|default=''}" title maxlength="8" {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       autocomplete="off" placeholder="填写砍价最低值" class="layui-input">
            </div>
        </div>

        <!--商品属性砍价价格-->
        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label">设置属性砍价价</label>
            <div class="layui-input-block">
                <div class="layui-form">
                    <table class="layui-table spec_table">
                        <thead>
                        <tr>
                            <th>规格</th>
                            <th>属性原价</th>
                            <th>属性砍价底价
                                <div class="batch">
                                    <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.batch_set').focus();" class="fa fa-edit" title="批量设置此列"></b>
                                    <div class="batch-input" style="display: none;">
                                        <h6>批量设置属性砍价底价：</h6>
                                        <a href="javascript:void(0)" class="close" onclick="$(this).parent('.batch-input').hide();">
                                            <div class="fa fa-close (alias)"></div></a>
                                        <input type="text" title class="text price batch_set2">
                                        <a href="javascript:void(0)" class="ncsc-btn-mini" onclick="batchSetTxt($(this))">设置</a>
                                        <span class="arrow"></span>
                                    </div></div>
                            </th>
                            <th>属性砍价单刀最低值
                                <div class="batch">
                                    <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.batch_set').focus();" class="fa fa-edit" title="批量设置此列"></b>
                                    <div class="batch-input" style="display: none;">
                                        <h6>批量设置属性砍价单刀最低值：</h6>
                                        <a href="javascript:void(0)" class="close" onclick="$(this).parent('.batch-input').hide();">
                                            <div class="fa fa-close (alias)"></div></a>
                                        <input type="text" title class="text price batch_set1">
                                        <a href="javascript:void(0)" class="ncsc-btn-mini" onclick="batchSetTxt($(this))">设置</a>
                                        <span class="arrow"></span>
                                    </div></div>
                            </th>
                            <th>属性砍价单刀最高值
                                <div class="batch">
                                    <b onclick="$('.batch-input').not($(this).next('.batch-input')).hide();$(this).next('.batch-input').toggle();$('.batch_set').focus();" class="fa fa-edit" title="批量设置此列"></b>
                                    <div class="batch-input" style="display: none;">
                                        <h6>批量设置属性砍价单刀最高值：</h6>
                                        <a href="javascript:void(0)" class="close" onclick="$(this).parent('.batch-input').hide();">
                                            <div class="fa fa-close (alias)"></div></a>
                                        <input type="text" title class="text price batch_set">
                                        <a href="javascript:void(0)" class="ncsc-btn-mini" onclick="batchSetTxt($(this))">设置</a>
                                        <span class="arrow"></span>
                                    </div></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--开始时间-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>生效日期</label>
            <div class="layui-input-inline">
                <input type="text" name="up_shelf_time" id="up_shelf_time" readonly {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       value="{$item.up_shelf_time|default=''}" autocomplete="off" placeholder="请选择生效日期"
                       class="layui-input">
            </div>
        </div>
        <!--结束时间-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>失效日期</label>
            <div class="layui-input-inline">
                <input type="text" name="down_shelf_time" id="down_shelf_time" readonly {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       value="{$item.down_shelf_time|default=''}" autocomplete="off" placeholder="请选择失效日期"
                       class="layui-input">
            </div>
        </div>

        <!--砍价持续时间-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>活动有效时间</label>
            <div class="layui-input-inline">
                <input type="*" name="continue_time" value="{$item.continue_time|default=''}" title maxlength="2" {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       autocomplete="off" placeholder="填写活动有效时间(正整数)" class="layui-input">
                <div>
                    <span class="remarks"  style="float: left">发起砍价后，如果超过规定小时时间没下单，则砍价失效</span>
                </div>
            </div>
        </div>

        <!--累计购买上限-->
        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label"><em class="require">* </em>售卖上限</label>
            <div class="layui-input-inline">
                <input type="text" name="available_sale" value="{$item.available_sale|default=0}" maxlength="8" {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       autocomplete="off" placeholder="请输入售卖上限，填0为无上限" class="layui-input">
                <div style="overflow: hidden">
                    <span class="remarks" style="float: left">砍价活动中可兑换最多商品数量</span>
                </div>
            </div>
        </div>

        <!--默认砍价单刀阈值-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>默认砍价单刀阈值（元）</label>
            <div class="layui-input-inline">
                <input type="text" name="single_cut_min" value="{$item.single_cut_min|default=''}" maxlength="10" {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       autocomplete="off" placeholder="请填写最低价" class="layui-input" style="width: 110px;display:inline;">
                -
                <input type="text" name="single_cut_max" value="{$item.single_cut_max|default=''}" maxlength="10" {eq name="$item.status|default=''" value="2"} readonly {/eq}
                       autocomplete="off" placeholder="请填写最高价" class="layui-input" style="width: 110px;display:inline;">
            </div>
        </div>


        {eq name="single_store" value="1"}
        <!--上架状态-->
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require">* </em>审核状态</label>
            <div class="layui-input-block">
                <div class="checkbox_items radio_status" onclick="showunit()">
                    <input type="radio" name="status" value="1" title="通过"
                           {eq name="item.status|default='1'" value="1" }checked{/eq}{eq name="item.status|default='1'" value="2" }checked{/eq}
                    >
                    <input type="radio" name="status" value="0" title="未通过"
                           {eq name="item.status|default='1'" value="0" }checked{/eq}
                    >
                </div>
            </div>
        </div>

        <div class="layui-form-item" id="reason"    {in name="item.status|default='1'" value="1,2" } hidden {/in}>
            <label class="layui-form-label"><em class="require">* </em>未通过原因：</label>
            <div class="layui-input-block">
                        <textarea placeholder="未通过原因，不能超过100字"
                                  name="reason" maxlength="100" style="height: 200px;" class="layui-textarea">{$item.reason|default=''}</textarea>
            </div>
        </div>
        {else/}
        <input type="hidden" name="status" value="1">
        {/eq}
    </div>
    <div class="contentShellBtn">
        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.cut_goods_id"}
                <input type="hidden" name="cut_goods_id" value="{$item.cut_goods_id}">
                {/present}
                <a type="reset" class="layui-btn layui-btn-primary"  href="/cut/index">返回</a>
                <button class="layui-btn" type="submit" id="submit">提交</button>
            </div>
        </div>
    </div>

</form>
<!--表单结束-->
{/block}
{block name='js'}
{__block__}
<script src="__RES__/js/common/step.js" type="application/javascript"></script>
<script src="__RES__/js/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>
{/block}
{block name='script'}
{__block__}
<script>
    main.form();
    $.Datatype.zNum = /^[1-9]\d*$/;
    main.valid('.layui-form');
    main.laydate([
        {
            elem: '[name="up_shelf_time"]'
        },
        {
            elem: '[name="down_shelf_time"]'
        }
    ]);
    function showunit() {
        var get_value = $("input[name='status']:checked").val();
        if (get_value == 1) {
            $('#reason').hide()
        } else {
            $('#reason').show();
        }
    }
    $(function () {
        getProducts('{$item.goods_id?:\'\'}');
    });
    function openCity(obj, type) {
        var param = 'cateId='
            + '&brandId='
            + '&keyword=' + '&type=' + type;
        layer.open({
            type: 2,
            title: obj.title,
            move: false,
            shade: 0.2,
            shadeClose: true,
            area: ['80%', '700px'],
            btn: obj.btn,
            content: '/goods/searchGoods?' + param
        });
    }
    var option = {
        columnDefs: [
            {orderable: false,targets: [1, -1] }
        ],
        //解决从新加载表格内容问题
        retrieve:true,
        bLengthChange: false,
        language: {
            "url": "__RES__/js/DataTables-1.10.15/media/chinese.json"
        }
    };
    // 获取规格
    function getProducts(id) {
        if (id === '') return;
        main.ajax({data: {id:id,type:2},url: '/goods/getProducts',callback: function (res) {
            if (res.code != 0){
                layer.msg(res.message);
                return false;
            }
            if (res.data == ''){
                $('.spec_table tbody').parents('.layui-form-item').hide();
            } else{
                $('.spec_table tbody').children().remove();
                $('.spec_table').dataTable().fnClearTable();    //清空数据
                $('.spec_table').dataTable().fnDestroy();       // 销毁
                $('.spec_table tbody').html(res.data).parents('.layui-form-item').show()
                $('.spec_table').dataTable(option);
            }
        }});
    }
    // 批量设置
    function batchSetTxt(jq) {
        var dt = {},
                index = jq.parents('th').index();
        if ($.fn.dataTable.isDataTable('.spec_table')){
            dt = $('.spec_table').dataTable().api();
        }else {
            dt = $('.spec_table').dataTable(option).api();
        }
        jq.parent('.batch-input').hide();
        switch (index) {
            case 2:
                var minimum_price = jq.prev('.batch_set2').val();//属性砍价底价
                dt.$('.batch-'+index).val(minimum_price);
                break;
            case 3:
                var knife = jq.prev('.batch_set1').val();//砍价单刀最低价
                dt.$('.batch-'+index).val(knife);
                break;
            case 4:
                var txt = jq.prev('.batch_set').val()
                dt.$('.batch-'+index).val(txt);
                break;
        }
    }
</script>
{/block}
{block name='highSearch'}{/block}