{extend name='layout/frame' /}
{block name='body'}
{__block__}
<!--操作提示begin-->
<div class="content">
    <div class="explanation" id="explanation">
        <div class="ex_tit">
            <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
        </div>
        <ul>
            <li><span>1、展示该商品被收藏情况；</span></li>
        </ul>
    </div>
</div>
<!--操作提示end-->
<!--列表开始-->
<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th>收藏会员</th>
            <th>收藏时间</th>
        </tr>
        </thead>
        <tbody>
        {empty name='data'}
        <tr class='emptyTable'>
            <td colspan="100" style="font-size: 25px;">暂无数据</td>
        </tr>
        {/empty}
        {volist name='data' id='item'}
        <tr>
            <td>
                <img src="{$item.avatar?:'?'}" class="avatar" alt="头像" onerror="this.src='__RES__/image/common/imageError.png'" />
                {$item.nickname|default=''}
            </td>
            <td>{$item.create_time|default=''}</td>
        </tr>
        {/volist}
        </tbody>
        <tfoot>
        {notempty name='data'}
        <tr>
            <td colspan="100">
                <span style="float:right;">{:$data->render()}</span>
            </td>
        </tr>
        {/notempty}
        </tfoot>

    </table>
</div>
<!--列表结束-->
{/block}
{block name='script'}
{__block__}
<script src="__RES__/js/common/preview.js"></script>
<script>
    main.form([{selector:'switch(status)',callback:function (data) {
        main.ajax({type:'post',url:'/goods_evaluate/auditing',data:{'id': data.value},callback:main.callback});
    }}]);

    if ($('a.preview').length) {
        var img = preloadIm();
        imagePreview(img);
    }

    //重定向本身
    function reloadSelf(condition) {
        var param = '', key = Object.keys(condition);
        if (key.length > 0) {
            for (var x in condition) {
                param += '&' + x + '=' + condition[x];
            }
            param = param.substr(1);
        }
        location.href = '?' + param;
    }
</script>
{/block}