/*公共样式*/
.childrenBody {
    /*padding: 15px 15px;*/
    height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.main_body {
    min-width: 320px;
}

.layui-elem-quote.title {
    padding: 10px 15px;
    margin-bottom: 0;
}

.layui-tab-more {
    position: relative;
    z-index: 99;
    background: #fff;
}

.layui-layer-tab .layui-layer-title span.layui-layer-tabnow {
    height: 42px !important;
}

.layui-layer-tab .layui-layer-title span {
    min-width: 45px !important;
}

.marg0 {
    margin: 0;
}
.marri10{
    margin-right: 10px;
}

/*模拟加载层图标样式*/
.layui-layer-dialog .layui-layer-content .layui-layer-ico16 {
    background-size: 100% 100% !important;
}

/*样式改变的过渡*/
.showMenu .layui-body, .showMenu .layui-footer, .showMenu.layui-layout-admin .layui-side, .logo, .top_menu .layui-nav-item[pc], .component, .top_menu .layui-nav-item[mobile], .layui-nav, .layui-layout-admin .layui-main, .site-mobile .layui-side, .layui-layout-admin .layui-side, .site-mobile .site-tree-mobile, .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-side, .panel, .panel .panel_icon i {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.showMenu.layui-layout-admin .layui-side {
    left: -200px;
}

.showMenu .layui-body, .showMenu .layui-footer {
    left: 0;
}

.layui-layout-admin .layui-main {
    margin: 0;
}

.logo {
    color: #fff;
    float: left;
    line-height: 60px;
    font-size: 20px;
    padding: 0 25px;
    text-align: center;
    width: 150px;
}

.weather {
    color: #fff;
    right: 200px;
    margin-top: 15px;
}

.component {
    float: left;
    width: 200px;
    height: 30px;
    margin-top: 15px;
    position: relative;
}

.component .layui-input {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: none;
    transition: all 0.3s;
}

.component .layui-input:focus {
    background: #fff;
    color: #000;
}

.component .layui-form-select dl {
    top: 33px;
    background: #fff;
}

.component .layui-form-select .layui-edge, .top_menu .layui-nav-item[mobile] {
    display: none;
}

.component .layui-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #000;
}

/*顶部右侧导航*/
.layui-nav .layui-nav-item > a {
    color: #fff;
}

.top_menu {
    position: absolute;
    right: 0;
    background: none
}

.top_menu.layui-nav .layui-this:after {
    width: 0px;
}

.top_menu.layui-nav .layui-this, .closeBox.layui-nav .layui-this {
    background-color: transparent;
}

.top_menu.layui-nav .layui-this a, .closeBox.layui-nav .layui-this a {
    color: #c2c2c2;
}

.top_menu.layui-nav dd.layui-this a, .closeBox.layui-nav dd.layui-this a {
    color: #333;
}

.top_menu.layui-nav .layui-nav-child a:hover, .closeBox.layui-nav .layui-nav-child a:hover {
    color: #fff;
    background-color: #5FB878;
}

.top_menu .iconfont {
    font-size: 14px !important;
}

.top_menu .layui-nav-bar {
    top: 60px !important;
    background-color: rgba(0, 0, 0, 0.7)
}

/*左侧用户头像*/
.layui-layout-admin .layui-side {
    left: 0;
}

.user-photo {
    width: 200px;
    height: 120px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.user-photo a.img {
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.user-photo a.img img {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
}

.user-photo p {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
}

/*左侧导航重定义*/
.layui-nav-item a cite {
    padding: 0 5px;
}

.layui-side-scroll {
    height: auto;
}

.layui-nav-tree .layui-nav-child a {
    padding-left: 40px;
}

.layui-nav-tree .layui-nav-child a:hover {
    background-color: #4E5465;
}

.layui-nav-tree .layui-nav-child dd.layui-this a:hover {
    background-color: #009688;
}

/*右侧body*/
#top_tabs_box {
    padding-right: 138px;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 26px
}

.layui-body .layui-tab .layui-tab-tool {
    position: absolute;
    width: 25px;
    height: 40px;
    left: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.layui-body .layui-tab .layui-tab-title {
    left: 26px !important;
}

#top_tabs {
    position: absolute;
    border-bottom: none;
}
/*批量操作商品逐个修改 表单样式*/
.batch_td{
    width: 5rem;
    text-align:center;
    border: 1px solid #dbdbdb;
    height:23px;
}
.batch_tr th{
    font-weight: bold;
    color: #333;
}
/*多窗口页面操作下拉*/
.closeBox {
    position: absolute;
    right: 0;
    background-color: #fff !important;
    color: #000;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.closeBox .layui-nav-item {
    line-height: 40px;
}

.closeBox .layui-nav-item a, .closeBox .layui-nav-item a:hover {
    color: #000;
}

.closeBox .layui-nav-more {
    top: 17px;
}

.closeBox .layui-nav-mored {
    top: 11px;
}

.closeBox .layui-nav-child {
    top: 42px;
    left: -12px;
}

.closeBox .layui-nav-bar {
    display: none;
}

.closeBox .icon-caozuo {
    font-size: 20px;
    position: absolute;
    top: 1px;
    left: -2px;
}

.layui-body {
    overflow: hidden;
    /*border-top:5px solid #1AA094;*/
    /*border-left:2px solid #1AA094;*/
}

.layui-tab-content {
    height: 100%;
    padding: 0;
}

.layui-tab-item {
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.layui-tab-title .layui-this {
    background-color: #fff;
    color: #fff;
}

.layui-tab-title .layui-this:after {
    border: none;
}

.layui-tab-title li cite {
    font-style: normal;
    padding-left: 5px;
}

.clildFrame.layui-tab-content {
    padding-right: 0;
}

.clildFrame.layui-tab-content iframe {
    width: 100%;
    height: 100%;
    border: none;
    min-width: 320px;
    position: absolute;
}

/*main.html*/
.row, .col, .panel_word, .panel_icon {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.row {
    margin-left: -10px;
    overflow: hidden;
}

.col {
    padding-left: 10px;
}

.panel {
    float: left;
    height: 92px;
    text-align: center;
    width: 16.666%;
    min-width: 210px;
    margin-bottom: 10px;
}

.panel_box a {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.panel_icon {
    width: 40%;
    display: inline-block;
    padding: 22px 0;
    background-color: #54ade8;
    float: left;
}

.panel_icon i {
    font-size: 3em;
    color: #fff;
}

.panel a:hover .panel_icon i {
    display: inline-block;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.panel_word {
    width: 60%;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

.panel_word span {
    font-size: 25px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.allNews em {
    font-style: normal;
    font-size: 16px;
    display: block;
}

.panel_box a .allNews cite {
    display: none;
}

.panel_box a cite {
    font-size: 16px;
    display: block;
    font-style: normal;
}

.sysNotice {
    width: 50%;
    float: left;
}

.sysNotice .layui-elem-quote {
    line-height: 26px;
    position: relative;
}

.sysNotice .layui-table {
    margin-top: 0;
    border-left: 5px solid #e2e2e2;
}

.sysNotice .title .icon-new1 {
    position: absolute;
    top: 8px;
    margin-left: 10px;
    color: #f00;
    font-size: 25px;
}

.explain .layui-btn {
    margin: 5px 5px 5px 0;
}

/*打开页面动画*/
.container-show {
    animation: moveTop 1s;
    -webkit-animation: moveTop 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes moveTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes moveTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes moveTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes moveTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*响应式*/
@media screen and (max-width: 1282px) {
    .panel {
        width: 33.3333%;
    }
}

@media screen and (max-width: 1050px) {
    .layui-nav.top_menu .layui-nav-item a {
        padding: 0 10px;
    }

    /*天气信息*/
    .weather[pc] {
        display: none !important;
    }

    .sysNotice {
        width: 100%;
    }

    .component {
        width: 165px;
    }
}

@media screen and (max-width: 750px) {
    .logo {
        padding: 0;
    }

    .top_menu .layui-nav-item[pc], .component, .site-mobile .site-tree-mobile {
        display: none !important;
    }

    .top_menu .layui-nav-item.showNotice[pc] {
        display: inline-block !important;
    }

    .top_menu .layui-nav-item[mobile] {
        display: inline-block;
    }

    .layui-nav.top_menu, .layui-nav.top_menu .layui-nav-item a {
        padding: 0 10px;
    }

    .layui-layout-admin .layui-main {
        margin-right: 0;
    }

    .hideMenu {
        display: none;
    }

    /*左侧导航*/
    .layui-layout-admin .layui-side {
        left: -260px;
    }

    .site-mobile .layui-side {
        left: 0;
        z-index: 9999;
    }

    .site-tree-mobile {
        display: block !important;
        position: fixed;
        z-index: 100000;
        bottom: 15px;
        left: 15px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 2px;
        text-align: center;
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
    }

    .site-mobile .site-mobile-shade {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 999;
    }

    /*layui-body*/
    .panel {
        width: 50%;
    }

    .layui-body, .layui-layout-admin .layui-footer {
        left: 0;
    }
}

@media screen and (max-width: 432px) {
    .top_menu .layui-nav-item.showNotice[pc] {
        display: none !important;
    }

    .panel {
        width: 100%;
    }
}

/*操作提示*/
i.sc_icon, .explanation .ex_tit span {
    background: url(../images/admin-icon.png) no-repeat;
}

.explanation {
    padding: 11px 13px;
    color: #707070;
    border-radius: 5px;
    /*background-color: #f5faff;*/
    /*border: 1px dashed #62b3ff;*/
    width: calc(100% - 28px);
    height: 100%;
}

.explanation .ex_tit {
    /*color: #62b3ff;*/
    position: relative;
    line-height: 20px;
    margin-bottom: 10px;
}

.explanation .ex_tit:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.explanation .ex_tit h4 {
    font-weight: normal;
    padding-left: 30px;
    font-size: 14px;
    float: left;
}

.explanation .ex_tit .sc_icon {
    position: absolute;
    background-position: -84px -328px;
    width: 20px;
    height: 20px;
    left: 0;
}

.explanation .ex_tit span {
    position: absolute;
    background-position: 0 -359px;
    width: 28px;
    height: 28px;
    top: -12px;
    right: -14px;
    cursor: pointer;
}

.explanation .ex_tit span.shopUp {
    background-position: -40px -359px;
}

.explanation ul {
    overflow: hidden;
    padding-left: 35px;
}

.explanation ul li {
    line-height: 20px;
    background: url(../images/arrow.png) 0 8px no-repeat;
    padding-left: 10px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.explanation ul li span{
    font-size: 14px;
}
.explanation ul li:last-child {
    margin-bottom: 0;
}

.explanation ul li em {
    color: #ec5151;
}
/*表单样式*/
.layui-table tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
/*表单分页*/
.pagination {
    text-align: center;
    float: right;
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1E9FFF;
    border-color: #1E9FFF;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1E9FFF;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a:hover,.pagination>li>span:hover{
    color: #1E9FFF;
}
.pageCount{
    line-height: 245%;
    margin-left: 2%;
    float: right;
}
.layui-table .emptyTable{
    text-align: center;
    height: 100px;
}
form .require{
    color: red;
}
.uploadImg{
    width:135px;
    height:135px;
    top:0;
    left:0;
}
table tbody .avatar{
    width:40px;
    height:40px;
    border:1px solid #e6e6e6;
    border-radius: 100%;
}
.listImg{
    width:100px;
    height:40px;
}
table thead th,table tbody tr{
    text-align: center!important;
}
/*preview 样式*/
#preview img{ height:auto;}
.previewShowWindow{ position:absolute;border:1px solid #dadade;background:#95959d;display:none;color:#fff;text-align:center;z-index:999;}
/*查看 编辑 删除 样式*/
a.btn_see, a.btn_edit, a.btn_trash {
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    color: #999;
    margin-right: 10px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
}

a:last-child {
    margin-right: 0;
}

.handle_tr a {
    margin-left: 10px;
    margin-right: 0;
}

.btn_see i {
    font-size: 14px;
    margin: -2px 4px 0 4px;
    vertical-align: middle;
    width: 14px;
}

.btn_edit i {
    font-size: 14px;
    margin: -2px 4px 0 4px;
    vertical-align: middle;
    width: 14px;
}

.btn_trash i {
    font-size: 14px;
    margin: -2px 4px 0 4px;
    vertical-align: middle;
    width: 14px;
}

i.icon-trash, i.sc_icon_see, .btn_trash i.icon-trash {
    margin-top: -3px;
}

i.sc_icon_see {
    width: 14px;
    height: 12px;
    display: inline-block;
    background-position: -195px -484px;
}

a.btn_edit:hover {
    color: #31b4e1;
    border-color: #31b4e1;
}

a.btn_trash:hover{
    color: #ec5151;
    border-color: #ec5151;
}

a.btn_see:hover {
    color: #29c25f;
    border-color: #29c25f;
}

a.btn_see:hover i.sc_icon_see {
    background-position: -195px -502px;
}

/*点击小手*/
.onpress{
    display: block;
    cursor: pointer;
}

.center{
    text-align: center;
    padding-right: 200px;
}

.text_center{
    width: 60px;
    border-color: #e6e6e6;
    height: 38px;
    line-height: 1.3;
    line-height: 38px \9;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    outline: 0;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
}

/*列表上按钮*/
.common-head {
    color: #707070;
    white-space: nowrap;
    display: block;
    position: relative;
    z-index: 4;
    /*float: left;*/
    /*overflow: hidden;*/
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.common-head .common-head-right .fbutton {
    margin-right: 10px;
    margin-left: 0;
}

/*.fbutton {*/
    /*vertical-align: top;*/
    /*letter-spacing: normal;*/
    /*display: inline-block;*/
    /*margin-left: 8px;*/
    /*margin-right: -1px;*/
    /*cursor: pointer;*/
    /*margin-right: 5px;*/
/*}*/

/*.fbutton:first-child {*/
    /*margin-left: 0px;*/
/*}*/

/*.fbutton div {*/
    /*font-size: 12px;*/
    /*line-height: 20px;*/
    /*color: #ec5051;*/
    /*background-color: #FFFFFF;*/
    /*height: 20px;*/
    /*padding: 2px 7px;*/
    /*border: solid 1px #ec5051;*/
    /*border-radius: 4px;*/
    /*margin: 0;*/
/*}*/

/*.fbutton div:hover {*/
    /*background: #ffe7e7;*/
/*}*/

/*.fbutton div a {*/
    /*color: #ec5051;*/
/*}*/

/*.fbutton div i {*/
    /*margin-right: 2px;*/
/*}*/

.fbutton div i.icon-edit {
    font-size: 13px;
}
.contentShell{
    width:60%;
    margin: 20px auto 0;
}
.contentShell65{
    width:65%;
    margin: 20px auto;
}
.contentShell90{
    width:90%;
    margin: 20px 10% 0 5%;
}
.contentShellFull{
    width:100%;
    margin-top: 15px;
}
.contentHeader{
    padding: 20px 5% 0 5%;
}
.contentFullShell{
    width:100%;
    margin-top: 20px;
}

.contentShellBtn{
    width:40%;
    margin: 20px 10% 0 20%;
}
.stepTips{
    font-size: 18px;
    text-align: left!important;
}

/************设置**************/
.list-div .tDiv{ padding:0 0 0 20px;}
.list-div th .tDiv{ min-width:60px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.list-div td .tDiv{ padding:10px 0 10px 20px;}

.setup_span { font-size: 12px;vertical-align: top;letter-spacing: normal;display: inline-block;position: relative;z-index: 1;cursor: default;}
.setup_span em{ padding:4px 5px 4px 6px; border:1px solid #e9e9e9; color:#999; float:left; border-radius:3px; line-height:normal; cursor:pointer;}
.setup_span em .icon{ font-size:14px; margin-right:5px;}
.setup_span em .arrow{ font-size: 0px;line-height: 0;vertical-align: middle;display: inline-block;width: 0px;height: 0px;float: none;margin: 0 0 0 5px;border-width: 4px;border-color: #999 transparent transparent transparent;border-style: solid dashed dashed dashed;-webkit-transition: .2s ease-in;-moz-transition: -webkit-transform .2s ease-in;-o-transition: -webkit-transform .2s ease-in;transition: .2s ease-in;}

.setup_span ul{ background:#62b3ff; border:1px solid #62b3ff; border-radius:0 3px 3px 0; position:absolute; z-index:1; left:100%; padding:0 5px; margin-left:-2px;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); display:none;}
.setup_span ul li{ height:25px; line-height:25px; border-bottom:1px solid #a1d1ff; min-width:70px;}
.setup_span ul li:last-child{ border-bottom:0;}
.setup_span ul li a{ color:#fff; display:block; padding:0 5px;}
.setup_span ul li a:hover{ background-color:#5da7f0}

.setup_span:hover{ z-index:3;}
.setup_span:hover em{ color:#fff; background:#62b3ff; border-color:#62b3ff; box-shadow: 1px 1px 1px rgba(0,0,0,0.3);}
.setup_span:hover em .arrow{
    border-color: #FFF transparent transparent transparent;
    /*FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(270deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(270deg);
    transform-origin: 50% 30%;
}
.setup_span:hover ul{ display:block;}
.layui-btn.disabled,.layui-btn[disabled]{
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}

/**列表查询**/
.inquire_search{float: right;margin-bottom: 10px;}
.inquire_text{ float:left; border:1px solid #dbdbdb; border-radius:2px; height:28px; line-height:28px; padding:0 10px;text-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset; box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset; -o-transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -ms-transition: all .2s; margin-right:10px;}

.inquire_search .inquire{ border:1px solid #dbdbdb; overflow:hidden; float:left;}
.inquire_search .inquire .inquire_text{ border:0; background:#fff; float:left; box-shadow:none; margin-right:0;}
.inquire_search .inquire .btn,.inquire_search .inquire .not_btn{ border:0; border-left:1px solid #dbdbdb; width:30px; height:28px; background: url(../../image/common/admin-icon.png) -116px -325px no-repeat; float:left; padding:0; cursor:pointer;}

/*div+js模仿select效果*/
.imitate_select{ float: left; position:relative;border-radius: 2px;height: 28px;line-height: 28px; margin-right:10px;font-size: 12px;}
.imitate_select .cite{ background: #fff url(../image/common/xjt.png) 124px 11px no-repeat;padding: 0 10px; cursor:pointer;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; text-align:left;font-size: 12px;line-height: 28px;display: block;height: 28px;border-radius: 2px;width: auto}

/*刷新样式*/
.left{ float: left;}
.right{ float: right;width: 100%}
.refresh .fa,.setup .fa{ font-size:14px;}
.refresh{  margin:0 10px 0 15px;float: left;}
.refresh .refresh_tit{ color: #999;width: 24px;height: 24px;float: left;text-align: center;line-height: 24px;position: relative;z-index: 1; margin-top:1px;}
.refresh .refresh_tit.loading i{ color: #090;display: inline-block;-webkit-animation: spin 0.2s infinite linear;animation: spin 0.2s infinite linear;}
.refresh .refresh_tit:hover{ color: #333;background-color: #E6E6E6;border-radius: 5px;cursor: pointer;}
.refresh .refresh_span{ margin-left:3px; margin-top:3px;float:left;}

/*表单选项卡样式*/
.tabs_info{ margin:0 0 10px; width:100%; position:relative; overflow:hidden; border-bottom:1px solid #62b3ff;}
.tabs_info ul{ float:left;}
.tabs_info ul li{ height:35px; line-height:35px; border-radius:4px 4px 0 0; font-size:14px; color:#707070; float:left; margin-right:3px; background-color:#e5e5e5; cursor:pointer;}
.tabs_info ul li:last-child{ margin-right:0;}
/*.tabs_info ul li.curr{ background-color:#62b3ff; color:#fff;}*/
.tabs_info ul li a{ color:#707070; display:block; padding:0 20px;}
.tabs_info ul li.curr a{ color:#fff;}
.switch_info{ padding:30px 20px; background:#fff;}
.switch_info .goods_search_div{ padding:0 0 20px; margin-bottom:20px;}

/*添加商品*/
.step h3,.step_title h3{ font-size:16px; color:#333;}
.step .mos{ margin:0 9%;}
.step .mos .mos_item{ width:33%; float:left; border:1px solid #e4eaec; background:#f7f7f7; margin-left:-1px; position:relative; cursor:pointer;}
.step .mos .mos_con{ margin:10% 15%; width:calc(100% - 30%); overflow:hidden; box-shadow:0 0 8px rgba(0,0,0,0.2);}
.step .mos .mos_con .mos_left{ width:132px; height:129px; float:left;}
.step .mos .mos_con .mos_right{ float:left; height:129px; line-height:129px; width:calc(100% - 132px);}
.step .mos .mos_con .mos_right span{ display:block; font-size:24px; text-align:center; vertical-align:middle;}

.step .vc_mos .mos_item{ margin:0 auto; float:none;}
/*关联商品*/

.layui-form .resize_textArea{  width: 100%;  height: 200px;  resize: none;}

.SearchInp{
    height: 28px!important;
}
.layui-form-item .layui-word-aux a{
    color: rgb(98, 179, 255);
    cursor: pointer;
}
/*工具样式*/
.tools{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.tools:hover{
    display: block;
}
.tools .move-up,
.tools .move-down{
    margin-left: 5px;
    color: #62b3ff;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    line-height: 26px;
    cursor: pointer;
}
.tools .move-down{
    right:70px;
}
.tools .move-up{
    right:95px;
}
.tools .move-up.disabled,
.tools .move-down.disabled{
    color: #999;
    cursor: no-drop;
}
.tools .move-remove{
    right: 5px;
    top: 2px;
}
.tools .move-remove{
    font-size: 10px;
    border-radius: 3px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    top: 4px;
    padding: 0 5px;
    background: #444;
    color: #fff;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.cover{
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .3;
}
.goods-special-container{
    position: relative;
    width: 100px;
    border: 1px dashed #e2e2e2;
    background: #fff;
    text-align: center;
    display: inline-block;
    float: left;
}
.goods-info{
    float: left;
    margin:5px 0 5px 10px;
}
.goods-info .name{
    text-align: left;
}
.goods-info .name .name-content{
    color: #333;
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
}
.goods-info p{
    text-align: left;
    line-height: 25px;
}
.goods-info p span{
    color: #62b3ff;
}
.goods-special-img{
    width:auto;
    height: 80px;
}
.layui-table .tDiv{
    text-align: left;
}
/* 商品列表 */
.goods-list .img-div{
    display: inline-block;
    float: left;
}
.goods-list .introduce-td{
    width: 400px;
}
.goods-list .describe{
    display: inline-block;
    float: left;
    width: 300px;
    margin-left: 15px;
    text-align: left;
}
.goods-list .describe div{
    margin-bottom: 5px;
    line-height: 20px;
}
.goods-list .describe .name-div,
.goods-list .describe .brand-div
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods-list .describe .brand-div span{
    color: #62b3ff;
}
.goods-list .img-div .thumb-img{
    width: 80px;
    height: 80px;
    border: 1px dashed #dcdcdc;
}
.goods-list .price-td{
    width: 200px;
}
.goods-list .price-td .capital div{
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.goods-list .label-div .label-control .switch-div span{
    font-size: 12px;
}
.goods-list .label-div .label-control .switch-div .layui-form-switch{
    height: 14px;
    line-height: 14px;
}
.goods-list .label-div .label-control .layui-form-switch{
    min-width: 40px;
}
.goods-list .label-div .label-control .switch-div .layui-form-switch i{
    top: 2px;
    width: 10px;
    height: 10px;
}
.goods-list .label-div .label-control .switch-div  .layui-form-onswitch i{
    margin-left: -15px;
}
.goods-list .edit-show{
    cursor: pointer;
}
.goods-list .edit-con{
    width: 70px;
}
.goods-list .product-show-btn{
    cursor: pointer;
}
/* 权重 */
.content .goods-div{
    margin: 8px auto;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.weight-tr:hover{
    background-color: #ffffff !important;
}
.content .goods-name{
    color: #62b3ff;
}
.intervene input{
    width: 80px;
}
.intervene .sort-txt-out{
    outline: 0;
    border: 0;
}
/* 规格库存 */
.goods-sn-div{
    display: inline-block;
    position: absolute;
}
.mb10{
    margin-bottom: 10px;
}

/*订单*/
.step_con{
    text-align: center;
    padding: 15px 0;
}
.step_con ul{
    display: inline-block;
    overflow: hidden;
}
.step_con ul li{
    float: left;
    /*margin-left: 100px;*/
    position: relative;
    width: 170px;
}
.step_con ul li:first-child{
    margin-left: 0;
}
.step_con ul li .circle{
    width: 36px;
    height:36px;
    background: #DCDCDC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}
.step_con ul li .circle .cur{
    width: 22px;
    height: 22px;
    background: #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step_con ul li .state{
    font-size: 14px;
    display: block;
    margin-top: 12px;
    color: #929292;
}
.step_con ul li::after{
    position: absolute;
    width: 142px;
    height: 10px;
    background: #DCDCDC;
    content: '';
    top:13px;
    right:96px;
}
.step_con ul li:first-child::after{
    height: 0;
}
.step_con ul li.active .cur{
    background: #1E9FFF;
}
.step_con ul li.active .cur svg path{
    fill: #fff;
}
.step_con ul li.active::before{
    position: absolute;
    width: 148px;
    height: 6px;
    background: #1E9FFF;
    content: '';
    top:15px;
    right:96px;
    z-index: 2;
}
.step_con ul li:first-child.active::before{
    height: 0;
}
.step_con ul li.active  .state{
    color:#212121;
}
.step_con ul li .time{
    color:#1E9FFF;
    text-align: center;
    font-size: 14px;
    display: block;
    line-height: 24px;
}
.dash_line{
    width: 100%;
    height: 1px;
    background: url("../images/line.png") repeat;
    float: left;
}
.logistics_info{
    display: flex;
    align-items: flex-start;
    width: 100%;
    float: left;
}
.logistics_info .det:after{
    width: 1px;
    height: 360px;
    background: #eee;
    top:40px;
    right:0;
    position: absolute;
    content: '';
}
.logistics_info .det{
    width: 25%;
    position: relative;
    padding: 0 2%;
}
.logistics_info .title{
    font-weight: bold;
    color: #000;
    line-height: 40px;
}
.logistics_info .det ul li{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
}
.logistics_info .det ul li .info{
    flex: 1;
}
.logistics_info .log_det{
    width: 50%;
    padding: 0 2%;
    position: relative;
}
.logistics_info .log_det ul{
    position: relative;
    height: 360px;
    overflow: auto;
    padding:0 10px;
}
.logistics_info .log_det li{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
}
.logistics_info .log_det li:after{
    width: 1px;
    height: calc(100% - 18px);
    content: '';
    position: absolute;
    top:22px;
    left:0;
    background: #bbb;
}
.logistics_info .log_det li .time{
    width: 150px;
}
.logistics_info .log_det li .l_text{
    flex: 1;
}
.logistics_info .log_det li:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    top:10px;
    left:-2px;
    background: #bbb;
}
.logistics_info .log_det li:last-child:after{
    display: none;
}
.logistics_info .log_det li:first-child:before{
    background: #1E9FFF;
}

.logistics_info .log_det ul::before{
    width:12px;
    height: 12px;
    background: rgba(249,138,16,0.3);
    border-radius: 10px;
    left:5px;
    top:7px;
    position: absolute;
    content: '';
}

.logistics_info .log_det ul::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.logistics_info .log_det ul::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}
.logistics_info .log_det ul::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
}

.layui-form-radio{
    background: url(../images/radio2.png) no-repeat center left;
    margin-top: 0!important;
}
.layui-form-radio i{
    display: none!important;
}
.layui-form-radioed{background: url(../images/radio_checked2.png)  no-repeat center left;}
.layui-laydate-footer span:hover{color: #1E9FFF!important;}
.dates_box{display: none!important;}
.emptyTable td{
    line-height: 4;
}

/*搜索按钮*/
.search-form .search_btn{
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #1E9FFF;
    height: 30px;
    padding: 0 10px;
    border: solid 1px #1E9FFF;
    border-radius: 2px;
    margin: 0 0 0 10px;
    transition: all 0.3s ease;
}
.search-form .search_btn:hover{
    color: #1E9FFF;
    background-color: #fff;
    transition: all 0.3s ease;
}


/*客服消息记录*/
.serviceContent{
    display: flex;
    align-items: center;
}
.serviceList{
    width: 240px;
    height: 700px;
    border:1px solid #ccc;
}
.serviceList .title{
    font-size: 14px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}
.serviceDetail{
    flex: 1;
    margin-left: 30px;
    height: 700px;
    display: none;
}
.serviceDetail.show{
    display: block;
}
.serviceDetail>div{
    width: 800px;
    margin: 0 auto;
}
.accordion {
    width: 86%;
    margin: 0 auto;
    height: 650px;
    overflow: auto;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #666;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    position: relative;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.accordion li:last-child .link {
    border-bottom: 0
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 16px;
    color: #595959;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.accordion li.open .link {
    color: #1E9FFF
}

.accordion li.open i {
    color: #1E9FFF
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.submenu {
    display: none;
    font-size: 14px
}

.submenu li {
    border-bottom: 1px dashed #ddd;
    text-decoration: none;
    color: #999;
    padding: 10px 12px 10px 10px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: flex-start;
}
.submenu li .icon{
    width: 30px;
}
.submenu li .name{
    flex: 1;
    margin-left: 10px;
}

.submenu li:hover {
    background: #1E9FFF;
    color: #fff
}
.detHead{
    display: flex;
    align-items: center;

}
.detHead>div:first-child{
    background: #F4F7F9;
    display: flex;
    align-items: center;
    width: 100%;
    /*margin-right: 20px;*/
    padding: 5px;
    justify-content: flex-end;
}
.detHead .serviceName{
    max-width: 180px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
.detHead .and{
    margin: 0 10px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
.userList{
    background: #fff;
    border:1px solid #ddd;
    width: 350px;
    position: relative;
}
.userList .userInfo{
    padding: 10px;
    display: flex;
    align-items: center;
}
.userList .userInfo .name{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.userList .userInfo .userPic{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.userList i {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 12px;
    font-size: 14px;
    color: #999;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.userList i.rotate{
  transform: rotate(180deg);
    transition: all 0.3s ease;
}
.userList .linkman{
    position: absolute;
    top:60px;
     border:1px solid #ddd;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    left: -1px;
    z-index: 5;
    height: 300px;
}
.userList .linkman ul{
    width: calc(100% + 20px);
    overflow: auto;
}
.userList .linkman.show{
    display: block;
}
.userList .linkman li{
    border-bottom: 1px dashed #eee;
}
.userList .linkman li:last-child{
    border-bottom: none;
}
.serviceDetail .none{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceDetail .none img{
    width: 80px;
    height: 80px;
    margin: 0 auto 30px;
    display: block;
}
.serviceDetail .none span{
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #666;
}
.chatCon{
    width: 100%;
    height: 500px;
    margin-top: 20px;

    position: relative;
    border:1px dashed #ddd;
}
.chatCon .con{
    height: calc(100% - 30px);;
    overflow: auto;
    padding: 15px;
}
.chatCon .send,.chatCon .receive{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.chatCon .send{
    padding-left: 300px;
}
.chatCon .receive{
    padding-right: 300px;
}
.chatCon .send>div,.chatCon .receive>div{
    flex: 1;
}
.chatCon  .state{
    display: flex;
    align-items: center;
}
.chatCon .state .name{
    font-size: 12px;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
    font-weight: bold;
 }
.chatCon .send .state .name{
    text-align: right;
    flex: 1;
}
.chatCon  .state .time{
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.chatCon .send .icon{
    background: #1E9FFF;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 5px;
}
.chatCon .receive .icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
}
.chatCon .send .info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}
.chatCon .receive .info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}
.chatCon .send .info>div{
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    position: relative;
    min-height: 24px;
    display: flex;
    align-items: center;
    width: auto;
    color: #333;
}
.chatCon .send .info>div::before{
    content: '';
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #eee;
    right:-8px;
    top:10px;
}
.chatCon .send .info>div::after{
    content: '';
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fafafa;
    right:-7px;
    top:11px;
}

.chatCon .receive .info>div{
    background: #1E9FFF;
    border-radius: 4px;
    border: 1px solid #1E9FFF;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    position: relative;
    min-height: 24px;
    display: flex;
    align-items: center;
    width: auto;
    color: #fff;
}
.chatCon .receive .info>div::before{
    content: '';
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #1E9FFF;
    left:-8px;
    top:10px;
}
.chatCon .receive .info>div::after{
    content: '';
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #1E9FFF;
    left:-7px;
    top:11px;
}
.chatCon .info img{
    width: 120px;
    height: auto;
    border:1px solid #efefef;
    border-radius: 4px;
    display: block;
}
.chatCon .loadMask{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatCon .loadMask img{
    width: 80px;
    height: 80px;
    display: block;
}
.chatCon .empty{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 40px;
    color: #666;
    text-align: center;
}
.chatCon .empty img{
    display: block;
    margin: 0 auto 30px;
}
.layui-laydate-content td.laydate-selected{
    background: rgba(249,138,16,0.6)!important;
    color: #fff;
}
.receptionSetting{
}
.receptionSetting .title{
    font-size: 14px;
    line-height: 40px;
    color: #333;
    font-weight: bold;
}
.receptionSetting .con{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.receptionSetting .con .tips{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}
.receptionSetting .box{
    width: 180px;
    line-height: 24px;
    padding: 8px;
    border:1px solid #ddd;
    color: #202224;
}
.receptionSetting  .line{
    width: 120px;
    margin: 0 10px;
    height: 3px;
    background: #efefef;
    position: relative;
}
.receptionSetting  .line::after{
    width: 3px;
    height: 15px;
    content: '';
    position: absolute;
    right:6px;
    top:-12px;
    transform: rotate(-45deg);
    background: #efefef;
}
.receptionSetting  .line>div{
    position: absolute;
    top:-36px;
    left:10%;
    width: 80%;
    font-size: 12px;
    line-height: 18px;
    color: #666;

}
.receptionSetting .article{
    font-size: 14px;
    line-height: 24px;
    color: #202224;
    margin-left: 20px;
}
.receptionSetting .tipsCon{
    display: flex;
    align-items: center;
}
.receptionSetting .tipsCon .layui-form-select dl dd{
    width: auto;
}
.receptionSetting .tipsCon .layui-input-block{
    margin-left: 0;
    width: 100px;
}
.receptionSetting .layui-form-label{
    width: auto;
}
.receptionSetting .layui-form-item{
    display: flex;
    align-items: center;
}
.search-info{ width:auto; float:left; }
.search-info .search-form{ float:left;}
.search-info .search-form .search-key{ float:left; font-size:0;}
.search-info .search-form .text{ height:28px; border:1px solid #e1e1e1; border-radius:3px; padding:0 6px; width:180px; font-size:12px;}
.search-info .search-form .text:focus{ box-shadow:none;}
.search-info .search-form .text_time .text{ padding:0 20px 0 5px; width:122px;}
.search-info .search-form .submit{ font-size:0; width:30px; height:30px; border:0; background:url(../images/admin-icon.png) -115px -325px #e0e0e0 no-repeat; border-radius:0 5px 5px 0; cursor:pointer;}
.search-info .search-form .submit:hover{ background-position:-140px -324px; background-color:#1E9FFF;}
.search-info .search-form .search-key .text{ border-radius:3px 0 0 3px;}
.search-info .search-form .imitate_select .cite{ color:#999;}

.btn-info{ float:right; }
.btn-info .sc-btn{ margin-left:15px; float:right; margin-right:0;}
.btn-info .sc-btn i{ margin-right:5px;}

/* å†…å®¹éƒ¨åˆ†é€šç”¨è¡¨æ ¼æ ·å¼ */
tr td.bdr,
tr th.bdr{ border-right: 1px solid #E6E6E6; }

.ecsc-default-table { line-height:20px; width:100%; border-collapse:separate!important; clear: both; border:1px solid #e5e5e5}
.ecsc-default-table thead{ border-top:1px solid #ddd;}
.ecsc-default-table thead th { line-height: 20px; color: #666;  text-align:center; height: 20px; padding: 10px 0; border-bottom: solid 1px #DDD; background-color:#fafafa; font-weight:bold;}
.ecsc-default-table thead td,
.ecsc-default-table tfoot th { background-color: #FFF; height: 22px; padding: 10px 0 10px 30px; transition: all 0.3s ease}
/*.ecsc-default-table tfoot th { border-top: solid 1px #E6E6E6;}*/
.ecsc-default-table tbody th { border: solid #E6E6E6; border-width: 1px 0; padding: 4px 0;}
.ecsc-default-table tbody th span { display: inline-block; vertical-align: middle; margin-right: 30px;}
.ecsc-default-table tbody th span.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 240px; height: 20px; overflow: hidden;}
.ecsc-default-table tbody td { color: #888; background-color: #FFF; text-align: center; padding: 10px 0px; border-bottom:1px solid #e5e5e5;font-size: 12px;}
.ecsc-default-table tbody td strong { color: #666;}
.ecsc-default-table tbody td strong.em{font: 20px/24px Verdana, Arial;color: #C00;vertical-align: bottom;}
.ecsc-default-table tfoot td { background-color: #FFF; text-align: center; padding: 8px 0;}
.ecsc-default-table tfoot td.td_border{ border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.ecsc-default-table td .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; border: solid 1px #F5F5F5; overflow: hidden;}
.ecsc-default-table td .pic-thumb img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(16-this.height/2)/*IE6,7*/;}

.ecsc-default-table td .goods-info { border: none; float:left;}
.ecsc-default-table td .goods-sku{ margin-bottom:2px;}
.ecsc-default-table td .goods-sku .sku{ margin-right:15px;}
.ecsc-default-table td .goods-img{ float:left; margin:0 10px 3px 0; border:1px solid #dcdcdc;}
.ecsc-default-table td .goods-img img{ max-width:58px; max-height:58px;}
.ecsc-default-table td .goods-desc{ float:left; width:calc(100% - 70px);}
.ecsc-default-table td .goods-desc .name{ height:40px; line-height:20px; overflow: hidden;width:240px; display:block; font-weight:normal;}
.ecsc-default-table td .goods-tag span { line-height: 16px; color: #FFF; background-color: #999; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 4px; margin-right: 2px; *zoom: 1; box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25); cursor: default;}
.ecsc-default-table td .goods-tag span.type-virtual { background-color: #3598DC;}
.ecsc-default-table td .goods-tag span.type-fcode { background-color: #9C59B8;}
.ecsc-default-table td .goods-tag span.type-presell { background-color: #1ABC9D;}
/*.ecsc-default-table td .goods-tag span.type-appoint { background-color:;}*/
.ecsc-default-table td .goods-tag a { color: #005EA6;}
.ecsc-default-table td .goods-tag a:hover { color: #DA542E;}
.ecsc-default-table td .goods-lie{ width:100%; float:left;}

.ecsc-default-table td .price{ float:left; width:100px;}
.ecsc-default-table td .num{ float:left; width:80px;}

.ecsc-recycle-table td .pic-thumb{ float:left; padding:0 10px;}
.ecsc-recycle-table td .pic-thumb img{ max-width:36px; max-height:36px;}
.ecsc-recycle-table tbody td{ border-bottom:1px solid #E6E6E6;}
.ecsc-recycle-table td .ovflow dt{ overflow:visible; white-space:normal;}

.ecsc-default-table .list-div td{ color: #717171; font-size:14px;}

.ecsc-default-table .frist{ padding-right:15px; vertical-align:text-top;}
.ecsc-default-table .frist .ui-label{ padding-left:12px;}
.ecsc-default-table .batch-operation{ text-align:left;}
.ecsc-default-table .batch-operation .sc-btn{ height:18px; line-height:18px; padding:0 5px; border-radius:3px;}
.ecsc-default-table .batch-operation .sc-btn i{ margin:-3px 3px 0 0; vertical-align:middle;}

.ecsc-default-table .batch-operation input.sc-btn{ height:20px;}
.ecsc-default-table .batch-operation input[name='confirm']:hover{ border-color:#ff5b00; color:#ff5b00;}
.ecsc-default-table .batch-operation input[name='invalid']:hover,.ecsc-default-table .batch-operation input[name='cancel']:hover{ border-color:#ef1c1c; color:#ef1c1c;}
.ecsc-default-table .batch-operation input[name='print']:hover{ border-color:#f28f0e; color:#f28f0e;}
.ecsc-default-table .batch-operation input.btn_disabled{ background:#eee;}
.ecsc-default-table .batch-operation input.btn_disabled:hover{ border-color:#ccc; color:#666;}


.ecsc-default-table tr:hover td{background: #f2f2f2;transition: all 0.1s ease}

.goods-default-table{ border: solid 1px #DDD;}
.goods-default-table thead th:last-child,.goods-default-table tbody td:last-child{ border-right:1px solid #ddd;}


span.link-span { color: #999;padding-left: 10px;margin-left: 15px;border-left: 2px solid #999;font-weight: normal;cursor: pointer;}
span.link-span a{ font-size:12px;}

/* æŒ‰é’®æ ·å¼ */
.ecsc-table-handle { font-size: 0;}
.ecsc-table-handle span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block;}
.ecsc-table-handle span:first-child{ border-left:0;}
.ecsc-table-handle span:last-child{}
.ecsc-table-handle span a { color: #777; background-color: #FFF; display: flex; padding: 3px 7px; margin: 1px;align-items: center;justify-content: center;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.ecsc-table-handle span a i { font-size: 14px; line-height: 16px; height: 16px; clear: both; padding: 0;}
.ecsc-table-handle span a p { font: 12px/16px "microsoft yahei"; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ecsc-table-handle i.sc_icon_see,.ecsc-table-handle i.sc_icon_rmb{ width: 15px; height: 15px; display: inline-block; background:url(../images/login_icon.png) no-repeat;}

.ecsc-table-handle i.sc_icon_see{ background-position: -86px -70px;}
.ecsc-table-handle i.sc_icon_rmb{ background-position:-62px -70px;}

.ecsc-table-handle a:hover i.sc_icon_see { background-position: -86px -90px;}
.ecsc-table-handle a:hover i.sc_icon_rmb { background-position: -62px -91px;}

.imitate_select ul.block{
    display: block;
}
.no-records{height: 80px}
.select_w145 {
    width: 145px;
}
.imitate_select ul{box-sizing: border-box;left: 0}

