<link href="__RES__/font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__RES__/css/common/main.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__RES__/layui/css/layui.css" rel="stylesheet" type="text/css" media="all"/>
<body class="childrenBody ">
<div class="main-content" id="mainContent">
    <div class="tabCon">
        <form action="" method="post" class="layui-form">
            <!--审核结果-->
            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require">* </em>审核结果：</label>
                <div class="layui-input-inline">
                    <input type="text" value="审核未通过" readonly autocomplete="off" maxlength="100" autocomplete="off" placeholder="审核结果" class="layui-input">
                </div>
            </div>
            <!--原因-->
            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require">* </em>审核原因：</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$item.reason|default=''}" readonly autocomplete="off" maxlength="100" autocomplete="off" placeholder="审核原因" class="layui-input">
                </div>
            </div>
            <!--审核人-->
            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require">* </em>审核人：</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$item.nickname|default=''}" readonly autocomplete="off" maxlength="100" autocomplete="off" placeholder="审核人" class="layui-input">
                </div>
            </div>
            <!--审核时间-->
            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require">* </em>审核时间：</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$item.create_time|default=''}" readonly autocomplete="off" maxlength="100" autocomplete="off" placeholder="审核时间" class="layui-input">
                </div>
            </div>
            <div class="contentShellBtn">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                    <dt>&nbsp;</dt>
                        <a class="layui-btn" href="javascript:void(0);" onclick="closeWindow()">关闭</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="__RES__/js/common/jquery-1.8.2.min.js"></script>
<script src="__RES__/js/common/jquery.cookie.js"></script>
<script src="__RES__/layui/layui.js"></script>
<script src="__RES__/layui/lay/modules/layer.js"></script>
<script src="__RES__/layui/lay/modules/element.js"></script>
<script src="__RES__/layui/lay/modules/element.js"></script>
<script src="__RES__/js/common/main.js"></script>
<script src="__RES__/js/common/jquery.from.js"></script>
<script src="__RES__/js/common/Validform_v5.3.2_ncr_min.js"></script>
<script src="__RES__/js/common/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    main.valid('.layui-form');
    main.form('.layui-form');
    function closeWindow() {
        parent.layer.closeAll();
    }
</script>


