{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/common/uploads.css" rel="stylesheet" type="text/css"/>
<link href="__RES__/css/common/map.css" rel="stylesheet" type="text/css"/>
<link href="__RES__/css/common/step.css" rel="stylesheet" type="text/css"/>
<style>
    .picShow>.pic{display: none}
    .picShow>.pic:first-child{display: block}
    .picShow>.pic a{position: relative;width: 150px;}
    .picShow>.pic img{width: 150px;display: block;}
    #tooltip{position:absolute;width:300px;border:1px solid #f4f4f4;background:#fff;color:#fff;display: none}
    #tooltip img{width: 100%}

    .step > li{
        width: 50%;
    }
    .step > li:not(.active) > .stepLabel:hover:before{
        background: #fff;
        color: rgb(51, 51, 51);
    }
    .step > li:not(.active) > .stepLabel:hover:after{
        background: rgb(235, 235, 235);
        color: rgb(51, 51, 51);
    }
    .store_type > div{
        float: left;
        width: 25%;
    }
</style>
{/block}
{block name='body'}
{__block__}
<!--表单-->

<form class="layui-form" action="" method="post">
    <!--操作提示begin-->
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li><span>请先选择商城已注册会员进行添加店铺操作。</span></li>
                <li><span>请根据提示信息准确无误填写店铺信息。</span></li>
                <li><span>标识“<font color="red">*</font>”的选项为必填项，其余为选填项。</span></li>
                <li><span>入驻店铺需认证，自营无需认证。</span></li>
            </ul>
        </div>
    </div>
    <br>

    <ul class="nav nav-pills nav-justified step step-round">
        <li class="step1 active">
            <a class="stepLabel">店铺信息</a>
        </li>
        <li class="step2">
            <a class="stepLabel">认证信息</a>
        </li>
    </ul>


    <!--店铺基本信息-->
    <div class="contentShell">
        <!--会员名称-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 会员账户</label>
            <div class="layui-input-inline" id="member">
                <input type="text" value="{$item.member_name|default=''}"
                       maxlength="20" autocomplete="off"
                       placeholder="请选择会员" id="phone"
                       readonly
                       class="layui-input">
                <input type="hidden" name="member_id"
                >
            </div>
            {empty name='item.store_id'}
            <a class="layui-btn" onclick="elect('/store/member_search?create_store=1','会员列表');">选择会员</a>
            {/empty}
        </div>

        <!--主营项目-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 主营项目</label>
            <div class="layui-input-block">
                <select name="category"
                >
                    <option value=""></option>
                    {volist name='classify_list' id='classify_list'}
                    <option
                            {eq name="$item.category|default=''" value="$classify_list.store_classify_id" }selected{/eq}
                    value="{$classify_list.store_classify_id}">{$classify_list.title}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <!--店铺名称-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 店铺名称</label>
            <div class="layui-input-block">
                <input type="text" value="{$item.store_name|default=''}" autocomplete="off"
                       placeholder="请输入店铺名称" class="layui-input" name="store_name" maxlength="30">
            </div>
        </div>

        <!--店铺logo-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 店铺logo</label>
            <div class="layui-input-block">
                <div
                        class="imageUpload"
                        default="{$item.logo|default=''}"
                        width="150"
                        height="150"
                        file-mime="image/gif,image/jpeg,image/png"
                        name="logo"
                        dir="store_image_logo"
                        value="{$item.logo_data|default=''}"
                        {eq name="Request.get.audit|default=0" value="1"} disabled="disabled" {/eq}
                >
            </div>
            </div>
        </div>

        <!--店铺客服电话-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 店铺客服电话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" value="{$item.phone|default=''}" maxlength="13"
                       autocomplete="off"
                       placeholder="请输入店铺客服电话"
                       class="layui-input">
            </div>
        </div>


        <!--店铺所在地-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 店铺所在地</label>
            <div class="layui-input-inline" style="width: 140px">
                <select name="province" class="state" lay-filter="state" lay-search="">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 140px">
                <select name="city" class="state" lay-filter="state">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 140px">
                <select name="area" class="state" lay-filter="state">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <!--店铺详细地址-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 店铺详细地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" id="tipinput" value="{$item.address|default=''}" maxlength="200"
                       autocomplete="off"
                       placeholder="请输入店铺详细地址"
                       class="layui-input">
                <br>
                <div id="container" style="width: 550px;height: 300px;" tabindex="0">
                    <div id="interaction"></div>
                </div>
            </div>
        </div>

        <!--经度-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 经度</label>
            <div class="layui-input-block">
                <input type="text" name="lng" id="lng" value="{$item.lng|default=''}" autocomplete="off"
                       placeholder="请根据地图获取经度"
                       readonly
                       class="layui-input">
            </div>
        </div>

        <!--纬度-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 纬度</label>
            <div class="layui-input-block">
                <input type="text" name="lat" id="lat" value="{$item.lat|default=''}" autocomplete="off"
                       placeholder="请根据地图获取纬度"
                       readonly
                       class="layui-input">
            </div>
        </div>

        <!--排序-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" value="{$item.sort|default='100'}" maxlength="5" autocomplete="off"
                       placeholder="请输入排序"
                       class="layui-input">
            </div>
        </div>

        <!--关键字-->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 关键字</label>
            <div class="layui-input-block">
                <input type="text" name="keywords" value="{$item.keywords|default=''}" maxlength="100"
                       autocomplete="off"
                       placeholder="请输入关键字"
                       class="layui-input">
            </div>
        </div>

        <!--描述-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><font color="red">*</font> 描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="describe" maxlength="100" class="layui-textarea">{$item.describe|default=''}</textarea>
            </div>
        </div>

        <!--到期时间-->
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间（不填写是无限制）</label>
            <div class="layui-input-block">
                <input type="text" name="end_time" id="time" value="{$item.end_time|default=NULL}"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <!-- 企业店铺分类 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 企业店铺分类</label>
            <div class="layui-input-block store_type">
                <div>
                    <input type="radio" name="type" value="0" title="普通店" lay-filter="integral"
                           {eq name="item.type|default=0" value="0" }checked{/eq}
                    >
                </div>
                <div>
                    <input type="radio" name="type" value="1" title="旗舰店" lay-filter="integral"
                           {eq name="item.type|default=0" value="1" }checked{/eq}
                    >
                </div>
                <div>
                    <input type="radio" name="type" value="2" title="专卖店" lay-filter="integral"
                           {eq name="item.type|default=0" value="2" }checked{/eq}
                    >
                </div>
                <div>
                    <input type="radio" name="type" value="3" title="直营店" lay-filter="integral"
                           {eq name="item.type|default=0" value="3" }checked{/eq}
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="contentShellBtn">
        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.member_id"}
                <input type="hidden" name="member_id" value="{$item.member_id|default=''}">
                {/present}
                {eq name="Request.get.audit|default=0" value="1"}
                    <button class="layui-btn" type="button" onclick="main.jumpFour('store/storeAuth?store_id={$store_id}&audit=1')">查看认证信息</button>
                {else/}
                    <button class="layui-btn" type="submit" id="submit">保存并下一步</button>
                {/eq}
            </div>
        </div>
    </div>
    <!--操作提示end-->
</form>

{/block}
{block name='js'}
{__block__}
<script>
    window._AMapSecurityConfig = {
        securityJsCode: '{:config("user.")["common"]["gao_de"]["securityJsCode"]}',
    }
</script>
<script src="__RES__/js/common/uploadPreview.js"></script>
<script type="text/javascript"
        src='//webapi.amap.com/maps?v=1.4.5&key={:config("user.")["common"]["gao_de"]["jsapi_key"]}&plugin=AMap.ToolBar,AMap.Autocomplete,AMap.PlaceSearch'></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
{/block}
{block name='script'}
{__block__}
<script>
    main.form('element');
    main.valid('.layui-form');
    main.laydate([{
        elem: '#time'
    }]);

    function typeChange(flg) {
        if (flg == 1) {
            $('#userSelf').show()
            $('#company').hide()
            $('#Name').html('真实姓名')
            $('#ID').html('身份证号')
            $('.bank_type').html('<i class="fa fa-dot-circle-o"></i> 对私账户信息')
            $('#bank_type').val(2);
        } else {
            $('#userSelf').hide()
            $('#company').show()
            $('#Name').html('法人姓名')
            $('#ID').html('法人身份证号')
            $('.bank_type').html('<i class="fa fa-dot-circle-o"></i> 对公账户信息');
            $('#bank_type').val(1);
        }
    }

    // 联动
    layui.use(['form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        form.on('radio(shop)', function (data) {
            var shop = $('#shop');
            if (data.value == 0) {
                shop.prop('hidden', false);
            }
            if (data.value == 1) {
                shop.prop('hidden', true);
            }
            if (data.value == 2) {
                shop.prop('hidden', false);
            }
        });
        form.on('radio(goods_style)', function (data) {
            console.log(data.value);
            if (data.value == 0) {
                $('.pic1').show();
                $('.pic2').hide();
            }
            if (data.value == 1) {
                $('.pic1').hide()
                $('.pic2').show()
            }

        });

        var url = '/member_address/area';            //数据请求地址

        var province = "{$item.province|default=''}";           //编辑需要的省
        var city = "{$item.city|default=''}";                   //编辑需要的市
        var district = "{$item.area|default=''}";               //编辑需要的县/区

        getJSON(url, $("select[name='province']").closest("div"));
        form.on('select(state)', function (data) {
            var $that = $(data.elem);
            var urls = url + "?id=" + data.value;
            getJSON(urls, $that.closest("div").next());
        });

        function getJSON(urls, even) {
            $.getJSON(urls, function (json) {
                var pid = 0;
                var name = even.find("select").attr("name");
                var select = "<select name=\"" + name + "\" lay-filter=\"state\" lay-search=\"\">";
                select += "<option value=\"\">请选择 </option>";
                $(json).each(function () {
                    select += "<option value=\"" + this.area_id + "\"";
                    if (province == this.area_id || city == this.area_id || district == this.area_id) {
                        select += " selected=\"selected\" ";
                        pid = this.area_id;
                    }
                    select += ">" + this.area_name + "</option>";
                });
                select += "</select>";
                even.html(select);
                var nextName = even.next().find("select").attr("name");
                    $("select[name='"+nextName+"']").html("<select name=\"" + nextName + "\" lay-filter=\"state\" lay-search=\"\"><option value=\"\">请选择 </option></select>");
                form.render('select');
                if (pid != 0) {
                    getJSON(url + "?id=" + pid, even.next());
                }
            });
        }

        // // 开户行三级联动
        // var bank_province = "{$item.auth.bank_province|default=''}";           //编辑需要的省
        // var bank_city = "{$item.auth.bank_city|default=''}";                   //编辑需要的市
        // var bank_district = "{$item.auth.bank_area|default=''}";               //编辑需要的县/区
        //
        // openJSON(url, $("select[name='bank_province']").closest("div"));
        // form.on('select(state)', function (data) {
        //     var $that = $(data.elem);
        //     var urls = url + "?id=" + data.value;
        //     openJSON(urls, $that.closest("div").next());
        // });
        //
        // function openJSON(urls, even) {
        //     $.getJSON(urls, function (json) {
        //         var pid = 0;
        //         var name = even.find("select").attr("name");
        //         var select = "<select name=\"" + name + "\" lay-filter=\"state\" lay-search=\"\">";
        //         select += "<option value=\"\">请选择 </option>";
        //         $(json).each(function () {
        //             select += "<option value=\"" + this.area_id + "\"";
        //             if (bank_province == this.area_name || bank_city == this.area_name || bank_district == this.area_name) {
        //                 select += " selected=\"selected\" ";
        //                 pid = this.area_id;
        //             }
        //             select += ">" + this.area_name + "</option>";
        //         });
        //         select += "</select>";
        //         even.html(select);
        //         var nextName = even.next().find("select").attr("name");
        //         $("select[name='"+nextName+"']").html("<select name=\"" + nextName + "\" lay-filter=\"state\" lay-search=\"\"><option value=\"\">请选择 </option></select>");
        //         form.render('select');
        //         if (pid != 0) {
        //             openJSON(url + "?id=" + pid, even.next());
        //         }
        //     });
        // }
    });

    //内容页切换
    $('#tabs1 li').click(function () {
        var index = $(this).index();
        $(this).addClass("curr").siblings().removeClass("curr");
        $(".contentShell").eq(index).show().siblings(".contentShell").hide();
    })

    // 模式选择
    $(function () {
        var showId = $(".goods_style").find("input:checked").attr('id');
        $('.picShow .pic').eq(showId).show().siblings().hide();

        var x = 10;
        var y = 20;
        $("a.tooltip").mouseover(function (e) {
            var tooltip = "<div id='tooltip'><img src='" + this.href + "' alt='预览图'/><\/div>"; //创建 div 元素
            $("body").append(tooltip);	//把它追加到文档中
            $("#tooltip")
                .css({
                    "top": (e.pageY + y) + "px",
                    "left": (e.pageX + x) + "px"
                }).show("fast");	  //设置x坐标和y坐标，并且显示
        }).mouseout(function () {

            $("#tooltip").remove();	 //移除
        }).mousemove(function (e) {
            $("#tooltip")
                .css({
                    "top": (e.pageY + y) + "px",
                    "left": (e.pageX + x) + "px"
                });
        });


    })

    // 地图
    AMapUI.loadUI(['misc/PositionPicker'], function (PositionPicker) {

        var map = new AMap.Map('container', {
            zoom: 17,
            center:['{$item.lng|default="116.4"}','{$item.lat|default="39.9"}'],
            resizeEnable: true,
            scrollWheel: false
        })
        console.log(['{$item.lng|default="116.4"}','{$item.lat|default="39.9"}']);
        // 定位
        map.plugin('AMap.Geolocation', function () {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                buttonOffset: new AMap.Pixel(0, 10),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                zoomToAccuracy: false,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                buttonPosition: 'RB',
                panToLocation: false
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });

        //解析定位结果
        function onComplete(data) {

        }

        //解析定位错误信息
        function onError(data) {

        }


        //输入提示
        var autoOptions = {
            input: "tipinput",
        };
        var auto = new AMap.Autocomplete(autoOptions);
        var placeSearch = new AMap.PlaceSearch({
            map: map
        });  //构造地点查询类
        AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
        function select(e) {
            placeSearch.setCity(e.poi.adcode);
            placeSearch.search(e.poi.name);  //关键字查询查询
        }

        var positionPicker = new PositionPicker({
            mode: 'dragMap',
            map: map
        });

        positionPicker.on('success', function (positionResult) {
            // $('#topTwo').html('');
            var adds = '';
            var addsLen = positionResult.regeocode.pois;
            var addres = '';
            $('#interaction').html('<a class="submit" onclick="interaction(\'' + positionResult.address + '\',' + positionResult.position.lng + ',' + positionResult.position.lat + ')">定位坐标</a>');
            addsLen.forEach(function (data) {
                addres = '<div class="weui-media-box weui-media-box_text box_text" onclick="interaction(\'' + data.address + '\',' + data.location.lng + ',' + data.location.lat + ')" style="padding:8px 3% 0 40px;" data-id="' + data.id + '" data-name="' + data.name + '">'
                addres += '<h4 class="weui-media-box__title" font-size: 12px;line-height: 24px;color: #999;><i class="iconfont icon-icon1460191833045"></i>' + data.name + '</h4>'
                addres += '<p class="weui-media-box__desc" style="border-bottom: 1px solid #e5e5e5;font-size: 12px;line-height: 24px;padding-bottom:5px;color: #999;">' + data.address + '</p>'
                addres += '</div>'
                adds += addres;
            });
            $('#topTwo').html(adds);

        });
        positionPicker.on('fail', function (positionResult) {
            console.log(positionResult)

        });

        positionPicker.start();
        map.panBy(0, 1);

        map.addControl(new AMap.ToolBar({
            liteStyle: true
        }));
    });

    function interaction(address, lng, lat) {
        $('#lng').val(lng);
        $('#lat').val(lat);
    }

    // 选择
    function elect(url, title) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '600px'],
            content: [url, 'yes']
        });
    }
</script>
{/block}
{block name='highSearch'}{/block}