{extend name='layout/frame' /}
{block name='title'}{__block__}{/block}
{block name='body'}

<!--导航-->
<form class="layui-form" action="">
    <div class="common-head">
        <div class="fl">
            <div class="inquire_search">
                <div class="inquire">
                    <input type="text" name="keyword" class="inquire_text nofocus" placeholder="会员账号"
                           value="{:input('get.keyword')}"
                           autocomplete="off">
                    {notempty name=":input('create_store')"}
                    <input type="hidden" name="create_store"  value="{:input('create_store')}">
                    {/notempty}
                    <input type="submit" class="btn" name="secrch_btn" value="">
                </div>
            </div>
        </div>

    </div>
</form>
<!--列表-->
<table class="layui-table">
    <thead>
    <tr>
        <th>会员编号</th>
        <th>会员账号</th>
        <th>会员昵称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {empty name='data'}
    <tr class='emptyTable'>
        <td colspan="100" style="font-size: 25px;">暂无数据</td>
    </tr>
    {/empty}
    {volist name='data' id='item'}
    <tr>
        <td>{$item.member_id}</td>
        <td>{$item.phone}</td>
        <td>{$item.nickname}</td>
        <td>
            <button class="layui-btn" type="submit" id="submit" onclick="elect('{$item.member_id}','{$item.phone}');">选择</button>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div class="right">
    {:$data->render()}
</div>
{/block}
{block name='js'}
{__block__}
<script>
    function elect(id,phone) {
        $('#phone',parent.document).val(phone);
        $('#phone',parent.document).attr("readonly","readonly");
        $('input[name="member_id"]',parent.document).val(id);
        // parent.$('#member').html('<input type="text" name="member_name" id="member" value="' + phone + '" autocomplete="off" class="layui-input" readonly><input type="hidden" name="member_id" value="' + id + '">');
        parent.layer.close(parent.layer.getFrameIndex(window.name));

    }
</script>
{/block}
{block name='highSearch'}{/block}