{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/common/step.css"  rel="stylesheet" type="text/css" />
<link href="__RES__/css/common/uploads.css" rel="stylesheet" type="text/css"/>
{/block}
{block name='body'}
{__block__}
<!--操作提示begin-->
<div class="content">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li><span>请注意选择上级分类。</span></li>
                <li><span>标识“<font color="red">*</font>”的选项为必填项，其余为选填项。</span></li>
            </ul>
        </div>
    </div>
</div>
<!--操作提示end-->
<!--表单-->
<div class="contentShell">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" maxlength="100" autocomplete="off" placeholder="请输入分类名称"
                       datatype="*"
                       value="{$item.title|default=''}"
                       nullmsg="请输入分类名称" errormsg="请输入分类名称"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级分类</label>
                <div class="layui-input-block">
                    <select name="parent_id" lay-search="">
                        <option value="0" {eq name="item.parent_id|default=''" value="0" }selected{/eq}>顶级分类</option>
                        {volist name='classify_list' id='classify_list'}
                        <option
                                {eq name=":input('get.classify_id')" value="$classify_list.store_goods_classify_id" }selected{/eq}
                                {eq name="item.parent_id|default=''" value="$classify_list.store_goods_classify_id" }selected{/eq}
                                value="{$classify_list.store_goods_classify_id}"
                        >{$classify_list.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" value="{$item.sort|default='100'}" maxlength="5" autocomplete="off" placeholder="请输入分类名称"
                       class="layui-input">
                <input type="hidden" name="store_id" value="{:input('store_id')}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">显示状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="是"
                       {eq name="item.status|default='1'" value="1" }checked{/eq}
                >
                <input type="radio" name="status" value="0" title="否"
                       {eq name="item.status|default=''" value="0" }checked{/eq}
                >
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.store_goods_classify_id"}
                <input type="hidden" name="store_goods_classify_id" value="{$item.store_goods_classify_id}">
                {/present}
                {present name="$item.store_id"}
                <input type="hidden" name="store_id" value="{$item.store_id}">
                {/present}
                <button class="layui-btn" type="submit" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name='js'}
{__block__}
<script src="__RES__/js/common/step.js" type="application/javascript"></script>
<script src="__RES__/js/common/uploadPreview.js"></script>
{/block}
{block name='script'}
{__block__}
<script>
    main.form();
    main.valid('.layui-form');
</script>
{/block}
{block name='highSearch'}{/block}