.earbings-details {
  margin-top: 10px;
}
.earbings-details .earbings-top {
  height: 155px;
  background: #fff;
  padding: 13px 32px 17px 30px;
  box-sizing: border-box;
}
.earbings-details .earbings-top .earbings-top-left {
  float: left;
}
.earbings-details .earbings-top .earbings-top-left .present-earbings {
  font-size: 24px;
  font-weight: bold;
  padding-top: 25px;
  color: #474E5D;
}
.earbings-details .earbings-top .earbings-top-left .present-earbings .text {
  font-size: 20px;
  color: #333;
}
.earbings-details .earbings-top .earbings-top-left .present-earbings .big-text {
  font-size: 30px;
}
