{extend name='layout/frame' /}
{block name='title'}{__block__}{/block}
{block name='multiImgUpload'}{/block}
{block name='body'}
{__block__}
<!--操作提示begin-->
<div class="content">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>新增标签分类；</li>
            </ul>
        </div>
    </div>
</div>
<!--操作提示end-->

<form class="layui-form" action="" style="width: 650px;margin: 30px auto 0" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">标签分类</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="name"
                    value="{$tag_classify['name']|default=''}"
                    required
                    lay-verify="required"
                    placeholder="请输入标签分类名称"
                    autocomplete="off"
                    class="layui-input"
                    datatype="*"
                    nullmsg="请输入标签分类名称" errormsg="请输入标签分类名称"
            >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$tag_classify['tag_classify_id']|default=''}">
            <button class="layui-btn" lay-submit id="submit">提交</button>
        </div>
    </div>
</form>
{/block}

{block name='js'}
{__block__}

<script>
$(function () {
    main.form();
    main.valid('.layui-form')
})
</script>
{/block}