{extend name='layout/frame' /}
{block name='title'}{__block__}{/block}
{block name='body'}
{__block__}
<style>
    .area_name>span{
        width: 100%;
        display: block;
    }
</style>
<div class="tabs_info" id="tabs" style="margin-top: 15px;">
    <ul>
        <li style="height: 34px;line-height:34px;"
            onclick="main.jumpFour('distribution_city/edit?id={:input(\'get.id\')}')">
            <a href="javascript:void(0);">自主配送</a>
        </li>
        <li class="curr" style="height: 34px;line-height:34px;"
            onclick="main.jumpFour('distribution_city/third?id={:input(\'get.id\')}')">
            <a href="javascript:void(0);">三方配送</a>
        </li>
    </ul>
</div>
<!--操作提示begin-->
<div class="content">
    <div class="explanation" id="explanation">
        <div class="ex_tit">
            <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
        </div>
        <ul>
            <li><span>温馨提示：提交操作将会重新审核，请慎重提交确定。</span></li>
        </ul>
    </div>
</div>
<!--操作提示end-->
<div class="tabs_info" style="margin-top: 15px;">
    <ul>
        <li style="height: 34px;line-height:34px;"
            onclick="main.jumpFour('distribution_city/third?id={:input(\'get.id\')}')">
            <a href="javascript:void(0);">创建商户</a>
        </li>
        <li class="curr" style="height: 34px;line-height:34px;"
             onclick="main.jumpFour('distribution_city/shopList?id={:input(\'get.id\')}')">
            <a href="javascript:void(0);">门店列表</a>
        </li>
    </ul>
</div>
<!--导航-->
<form class="layui-form" action="">
    <div class="common-head">
        <div class="fl">
            <a href="javascript:void(0);" class="left" onclick="if (!'{$source_id}'){layer.msg('请先注册商户!',{time:2000});return false;}main.jumpFour('distribution_city/shopCreate?id={:input(\'get.id\')}&source_id={$source_id}')">
                <div class="fbutton">
                    <div class="add" title="新增门店"><span><i class="fa fa-plus"></i>添加门店</span></div>
                </div>
            </a>
            <div class="refresh" onclick="location.reload();">
                <div class="refresh_tit" title="刷新数据"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
                <div class="refresh_span">共{$data->total()}条记录&nbsp;&nbsp;每页<font> {$data->listRows()} </font>条</div>
            </div>
            <div class="inquire_search" >
                <div class="imitate_select">
                    <select name="store_id" class="cite ps-container">
                        <option value="">选择店铺</option>
                    </select>
                </div>
                <div class="inquire">
                    <input type="text" name="keyword" class="inquire_text nofocus" placeholder="模板名称"
                           value="{:input('get.keyword')}"
                           autocomplete="off">
                </div>
                <input type="submit" class="btn search_btn" name="secrch_btn" value="查询">
            </div>
        </div>
    </div>
    <hr class="layui-bg-gray">
    <!--列表-->
    <table class="layui-table">
        <thead>
        <tr>
            <th class="table_num"><input type="checkbox" title="" class="chkAll" lay-filter="chkAll" lay-skin="primary" /></th>
            <th>门店名称</th>
            <th>业务类型</th>
            <th>联系人姓名</th>
            <th>联系人电话</th>
            <th>详细地址</th>
            <th>门店状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {empty name='data'}
        <tr class='emptyTable'>
            <td colspan="100" style="font-size: 25px;">暂无数据</td>
        </tr>
        {/empty}
        {volist name='data' id='item'}
        <tr>
            <td><input type="checkbox" value="{$item.dada_shop_id}" class="chk" lay-filter="chk" title="" lay-skin="primary" /></td>
            <td>{$item.station_name}</td>
            <td>{$item.business_name}</td>
            <td>{$item.contact_name}</td>
            <td>{$item.phone}</td>
            <td>{$item.station_address}</td>
            <td>{$item.status?'上线':'下线'}</td>
            <td>{$item.create_time}</td>
            <td>
                <a class="btn_edit" href="javascript:void(0);" onclick="main.jumpFour('distribution_city/shopCreate?id={$item.store_id}&source_id={$source_id}&dada_shop_id={$item.dada_shop_id}')"><i
                        class="fa fa-edit"></i>编辑</a>
                <a class="btn_trash" href="javascript:void(0);" onclick="main.destroy('/distribution_city/destroy','{$item.dada_shop_id}')"><i
                        class="fa fa-trash-o"></i>删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
        <tfoot>
        {notempty name='data'}
        <tr>
            <td colspan="100">
                <div class="left left_all">
                    <div class="allCheck">
                        <input type="checkbox" title="" class="chkAll" lay-filter="chkAll" lay-skin="primary" id="all"/><label for="all">当页全选</label>
                    </div>
                    <a class="btn_trash" onclick="main.destroy('/distribution_city/destroy')"><i class="fa fa-trash-o"></i>批量删除</a>
                </div>
                <span style="float:right;">{:$data->render()}</span>
            </td>
        </tr>
        {/notempty}
        </tfoot>
    </table>
</form>
{/block}
{block name='js'}
{__block__}
<script>
    main.form('.layui-form');
</script>
{/block}
{block name='highSearch'}{/block}