{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/common/step.css"  rel="stylesheet" type="text/css" />
<link href="__RES__/css/common/uploads.css" rel="stylesheet" type="text/css"/>
{/block}
{block name='body'}
{__block__}
<!--操作提示begin-->
<div class="content">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li><span>标识“<font color="red">*</font>”的选项为必填项，其余为选填项。</span></li>
            </ul>
        </div>
    </div>
</div>
<!--操作提示end-->
<!--表单-->
<div class="contentShell">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 主营类目名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" maxlength="8" autocomplete="off" placeholder="请输入主营类目名称"
                       datatype="*"
                       value="{$item.title|default=''}"
                       nullmsg="请输入主营类目名称" errormsg="请输入主营类目名称"
                       class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" value="{$item.sort|default='100'}" maxlength="5" autocomplete="off" placeholder="请输入排序"
                       class="layui-input">
                <input type="hidden" name="store_id" value="{:input('store_id')}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">显示状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="是"
                       {eq name="item.status|default='1'" value="1" }checked{/eq}
                >
                <input type="radio" name="status" value="0" title="否"
                       {eq name="item.status|default=''" value="0" }checked{/eq}
                >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.store_classify_id"}
                <input type="hidden" name="store_classify_id" value="{$item.store_classify_id}">
                {/present}
                <button class="layui-btn" type="submit" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name='js'}
{__block__}
<script src="__RES__/js/common/step.js" type="application/javascript"></script>
<script src="__RES__/js/common/uploadPreview.js"></script>
{/block}
{block name='script'}
{__block__}
<script>
    main.form();
    main.valid('.layui-form');
</script>
{/block}
{block name='highSearch'}{/block}