{extend name='layout/frame' /}
{block name='mainCss'}
{__block__}
<link href="__RES__/css/common/formSelects-v4.css" rel="stylesheet" type="text/css"/>
{/block}
{block name='body'}
{__block__}
<!--表单-->
<!--操作提示begin-->
<div class="content">
    <div class="explanation" id="explanation">
        <div class="ex_tit">
            <i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
        </div>
        <ul>
            <li><span>请注意选择商品分类。</span></li>
            <li><span>此处只能创建创建抽奖商品所用优惠券，平台优惠券及自营店铺优惠券请促销优惠中创建，店铺优惠券请商铺后台创建。</span></li>
            <li><span>标识“<font color="red">*</font>”的选项为必填项，其余为选填项。</span></li>
        </ul>
    </div>
</div>
<form class="layui-form" action="" method="post">

    <div class="contentShell">
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 优惠券标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" maxlength="12" autocomplete="off" placeholder="请输入优惠券标题"
                       datatype="*"
                       value="{$item.title|default=''}"
                       nullmsg="请输入优惠券标题" errormsg="请输入优惠券标题"
                       class="layui-input">
            </div>
        </div>

        {if !$Think.INI_CONFIG['SINGLE_STORE']}
        <div class="layui-form-item">
            <label class="layui-form-label"><font color="red">*</font> 优惠券类型</label>
            <div class="layui-inputinline">
                <input type="radio" name="type" value="0" title="自营店铺优惠券" lay-filter="type"
                       {eq name="item.type|default='0'" value="0" }checked{/eq}
                >
                <!--<input type="radio" name="type" value="1" title="平台优惠券" lay-filter="type"-->
                       <!--{eq name="item.type|default=''" value="1" }checked{/eq}-->
                <!--&gt;-->
            </div>
        </div>
        {else/}
        <!-- 单店优惠券类型为默认 自营店铺优惠券-->
        <input type="hidden" name="type" value="0">
        {/if}
        <div class="layui-form-item" id="category" {neq name="item.type|default='0'" value="1"}hidden{/neq}>
        <label class="layui-form-label"><font color="red">*</font> 优惠券所属商品分类</label>
        <div class="layui-input-inline">
            <select name="goods_classify_id" xm-select="goods_classify_id" datatype="*" nullmsg="请选择商品分类" errormsg="请选择商品分类">
                <option value="">选择分类</option>
                {volist name="categoryOne" id="vo"}
                <option value="{$vo.goods_classify_id}" {present name="$item.coupon_id"}
                        {in name="$vo.goods_classify_id" value="$item.classify_str"}selected="selected"{/in}{/present}>{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>
    {if !$Think.INI_CONFIG['SINGLE_STORE']}
    <div class="layui-form-item" id="shops" {neq name="item.type|default='0'" value="0"}hidden{/neq}>
        <label class="layui-form-label"><font color="red">*</font> 自营店铺</label>
        <div class="layui-input-inline">
        <select name="member_id" lay-search="" datatype="*"
                nullmsg="请选择自营店铺" errormsg="请选择自营店铺">
            <option value="">选择店铺</option>
            {volist name="shops" id="shop"}
            <option value="{$shop.store_id}"{eq name="$shop.store_id" value="$item.classify_str|default=''"}selected{/eq}>{$shop.store_name}</option>
            {/volist}
        </select>
        </div>
    </div>
    {else/}
        <input type="hidden" name="member_id" value="{$Think.INI_CONFIG['ONE_STORE_ID']}">
    {/if}
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font> 缩略图</label>
        <div class="layui-input-block">
            <div
                    class="imageUpload"
                    default="{$item.file|default=''}"
                    width="200"
                    height="200"
                    file-mime="image/gif,image/jpeg,image/png"
                    name="file"
                    dir="lottery_coupon/file"
                    value="{$item.file_data|default=''}"
            ></div>
            <div style="overflow: hidden">
                <span class="remarks" style="float: left">缩略图，尺寸要求200*200，如果不上传图片会影响展示效果</span>
            </div>
        </div>
    </div>
    <!--<div class="layui-form-mid layui-word-aux">-->
    <!--建议尺寸，800 X 800-->
    <!--</div>-->


    <div class="layui-form-item">
        <label class="layui-form-label">无门槛优惠券</label>
        <div class="layui-input-block">
            <input type="radio" name="is_no_threshold" value="1" title="是" lay-filter=""
                   {eq name="item.is_no_threshold|default='0'" value="1" }checked{/eq}
            >
            <input type="radio" name="is_no_threshold" value="0" title="否" lay-filter=""
                   {eq name="item.is_no_threshold|default='0'" value="0" }checked{/eq}
            >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font> 优惠券金额</label>
        <div class="layui-input-inline">
            <input type="number" name="actual_price" value="{$item.actual_price|default=''}" maxlength="10"
                   autocomplete="off"
                   placeholder="请输入优惠券面值"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font> 优惠券满减金额</label>
        <div class="layui-input-inline">
            <input type="number" name="full_subtraction_price" value="{$item.full_subtraction_price|default=''}"
                   maxlength="10" autocomplete="off"
                   placeholder="请输入优惠券满减金额，例满100元才可使用"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="description" maxlength="100" class="layui-textarea">{$item.description|default=''}</textarea>
        </div>
    </div>
    <input type="hidden" name="status" value="1">
    <div class="layui-form-item ">
        <label class="layui-form-label"><font color="red">*</font> 使用开始日期</label>
        <div class="layui-input-inline time-date-box " style="position: relative">
            <input type="text" name="start_time" id="start_time" value="{$item.start_time|default=''}"
                   autocomplete="off" placeholder="请选择使用开始日期"
                   class="layui-input time-date p-time">
        </div>
    </div>

    <div class="layui-form-item ">
        <label class="layui-form-label"><font color="red">*</font> 使用结束日期</label>
        <div class="layui-input-inline time-date-box ">
            <input type="text" name="end_time" id="end_time" value="{$item.end_time|default=''}" autocomplete="off"
                   placeholder="请选择使用结束日期"
                   class="layui-input time-date p-time">
        </div>
    </div>

    <div class="layui-form-item ">
        <label class="layui-form-label"><font color="red">*</font> 领取开始日期</label>
        <div class="layui-input-inline time-date-box ">
            <input type="text" name="receive_start_time" id="receive_start_time"
                   value="{$item.receive_start_time|default=''}" autocomplete="off" placeholder="请选择领取开始日期"
                   class="layui-input time-date p-time">
        </div>
    </div>

    <div class="layui-form-item ">
        <label class="layui-form-label"><font color="red">*</font> 领取结束日期</label>
        <div class="layui-input-inline time-date-box ">
            <input type="text" name="receive_end_time" id="receive_end_time"
                   value="{$item.receive_end_time|default=''}" autocomplete="off" placeholder="请选择领取结束日期"
                   class="layui-input time-date p-time">
        </div>
    </div>
    </div>
    <div class="contentShellBtn">
        <div class="layui-form-item">
            <div class="layui-input-block">
                {present name="$item.coupon_id"}
                <input type="hidden" name="coupon_id" value="{$item.coupon_id}">
                {/present}
                <button class="layui-btn" type="submit" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
    <!--操作提示end-->
</form>
{/block}
{block name='js'}
{__block__}
{/block}
{block name='script'}
{__block__}
<script src="__RES__/js/common/formSelects-v4.js"></script>
<script>
    main.form([{selector:'radio(type)',callback:function(data){
            var cate = $('#category');
            var shop = $('#shops');
            if (data.value == 0) {
                cate.prop('hidden', true);
                shop.prop('hidden',false);
            }
            if (data.value == 1) {
                cate.prop('hidden', false);
                shop.prop('hidden',true);
            }
        }},{selector:'radio(integral)',callback:function(data){
            var integral = $('#integral');
            if (data.value == 0) {
                integral.prop('hidden', true);
            }
            if (data.value == 1) {
                integral.prop('hidden', false);
            }
        }}]);
    main.valid('.layui-form');
    // 上传图片
    main.upload([{
        elem: '#mobileImg',
        size: 2 * 1024,
        data: {name: 'content_img', dir: 'content_img'},
        field: 'content_img',
        done: function (res) {
            if (res.code !== 0) {
                layer.msg(res.message);
                return false;
            }
            var html = '<div class="m-img">' +
                '<img src="' + res.data.domain + res.data.url + '" >'
                + step.toolsHtml + '</div>';
            $('.mobile-content .container .info').append(html);
            main.tools.sort($('div[class^="m-"]'));
            layer.closeAll('loading');
        }
    },{
        elem: '#goods_file',
        size: 2 * 1024,
        auto : false,
        data: {name: 'goods_file', dir: 'goods_file'},
        field: 'goods_file',
        choose: function(obj){  //上传前选择回调方法
            console.log(obj);
            var flag = true;
            obj.preview(function(index, file, result){
                console.log(file);            //file表示文件信息，result表示文件src地址
                var img = new Image();
                img.src = result;
                img.onload = function () { //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
                    if(img.width ==200 && img.height ==200){
                        obj.upload(index, file); //满足条件调用上传方法
                    }else{
                        flag = false;
                        layer.msg("您上传的小图大小必须是200*200尺寸！");
                        return false;
                    }
                };
                return flag;
            });
        },
        done: function (res) {
            if (res.code !== 0) {
                layer.msg(res.message);
                return false;
            }
            var html = '<img src="' + res.data.domain + res.data.url + '" class="uploadImg">' +
                '<input type="text" name="file" value="'+res.data.url+'" title style="display:none;"/>';
            $(this.elem).css('padding','1px').html(html);
            layer.closeAll('loading');
        }
    },{
        elem: '#goods_video',
        size: 10 * 1024,
        data: {name: 'goods_video', dir: 'video'},
        field: 'goods_video',
        accept: 'video',
        acceptMime: 'video/*',
        exts: 'mp4',
        done: function (res) {
            if (res.code !== 0) {
                layer.msg(res.message);
                return false;
            }
            var html = '<video controls><source src="'+ res.data.domain +res.data.url +'" type = “application/ogg” /></video>';
            $(this.elem).css('padding','1px').html(html);
            $('[name="video"]').val(res.data.url);
            layer.closeAll('loading');
        }
    },{
        elem: '#photos_area',
        size: 2 * 1024,
        data: {name: 'goods_album', dir: 'album'},
        field: 'goods_album',
        multiple: true,
        number: 5,
        auto: false,
        choose: function (obj) {
            var length = $('.img-item').length,num = 1;
            obj.preview(function (index,file,result) {
                if (length <= 5 && (length + num) <= 5 ) obj.upload(index, file);
                num++;
            });
        },
        done: function (res,index,upload) {
            if (res.code !== 0) {
                layer.msg(res.message);
                return false;
            }
            var html = '<div class="img-item">' +
                '<img src="' + res.data.domain + res.data.url + '" class="uploadImg">' +
                '<input type="hidden" name="picArr[]" value="'+ res.data.url +'" />' +
                '<div class="operate">' +
                '<i class="toleft">左移</i>' +
                '<i class="toright">右移</i>' +
                '<i class="del">删除</i>' +
                '</div></div>';
            if ($(this.elem).children('.img-item').length == 0) $(this.elem).empty();
            $(this.elem).css('padding',0).append(html);
            layer.closeAll('loading');
        }
    }]);
    main.laydate([{
        elem: '#start_time',
        type: 'date'
    },{
        elem: '#end_time',
        type: 'date'
    },{
        elem: '#receive_start_time',
        type: 'date'
    },{
        elem: '#receive_end_time',
        type: 'date'
    }]);
</script>
{/block}
{block name='highSearch'}{/block}