.wechatpay-top{
    height: 90px;
    line-height: 90px;
    font-size: 12px;
    color: #333333;
    font-size: 14px;
    width: 1080px;
    margin: 0 auto;
}
.wechatpay-top .wechatpay-top-amount{
    float: right;
}
.wechatpay-top-amount span{
    padding-left: 5px;
}
.wechat-pay-bottom p{
    text-align: center;
    line-height: 30px;
    height: 30px;
    color: #666;
    font-size: 14px;
}
.wechat-pay-bottom{
    width: 1200px;
    padding: 40px 0;
    margin: 50px auto 0 auto;
    border-top: 1px solid #e9e5e5;
}

.side-navigation{
    position: fixed;
    width: 6px;
    height: 892px;
    right: 0;
    top:0;
    background-color:#4c4c4c;
}
.side-navigation-view{
    position: relative;
}
.shop-vip{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 95px;
    height: 35px;
    top:381px;
    right:0;
    border-radius: 3px 0 0 3px;
    color: #fff;
}
.shop-vip-text{
    margin-right: 5px;
}
.collect{
    position: absolute;
    top:417px;
    right: 6px;
    width: 35px;
    height: 35px;
    background-color:#4c4c4c;
    border-radius: 3px 0 0 3px;
}
.collect img{
    display: block;
    margin: 10px auto 0;
}
.qrcode{
    position: absolute;
    top:785px;
    right: 6px;
    width: 35px;
    height: 35px;
    background-color:#4c4c4c;
    border-radius: 3px 0 0 3px;
}
.qrcode img{
    display: block;
    margin: 10px auto 0;
}
.top{
    position: absolute;
    top:821px;
    right: 6px;
    width: 35px;
    height: 35px;
    background-color:#4c4c4c;
    border-radius: 3px 0 0 3px;
}
.top img{
    display: block;
    margin: 10px auto 0;
}
.question{
    position: absolute;
    top:857px;
    right: 6px;
    width: 35px;
    height: 35px;
    background-color:#4c4c4c;
    border-radius: 3px 0 0 3px;
}
.question img{
    display: block;
    margin: 10px auto 0;
}
.order-process{
    width: 375px;
    height:55px;
    padding-top: 15px;
    position: relative;
}
.order-process ul{
    position: absolute;
    width: 380px;
    height:55px;
    top: 24px;
    left: 0;
}
.order-process ul li span{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    background: #ffb401;
    margin: 0 auto;
}
.order-process ul li{
    width: 60px;
    height: 55px;
    float: left;
    text-align: center;
    color: #ffb401;
    margin-right: 100px;
}
.order-process ul li p{
    font-size: 12px;
    line-height: 25px;
}
.order-process ul li:nth-child(3){
    margin-right: 0;
}
.order-process ul  .order-process-gray span{
    background: #ccc;

}
.order-process ul  .order-process-gray p {
    color: #ccc;
}
.barline{
    width:335px;
    background:#ccc;
    height:5px;
    overflow:hidden;
    border-radius: 5px;
    margin: 20px auto;
}
.charts {
    height: 8px;
    overflow: hidden;
    border-radius: 8px;
    background: #ffb401;
}
.other-way{
    font-size: 17px;
    color: #ffb401;
    line-height: 45px;
    height: 45px;
}
.other-way span{
    font-size: 20px;
    padding:0 20px 0 0 ;
}
.passwordpay-content{
    width: 980px;
    margin: 0 auto;
    box-shadow:0 0 10px 0 rgba(200,200,200,.4);
    padding:0 160px 35px 60px ;
}
.passwordpay-content-top{
    font-size: 18px;
    line-height: 58px;
    height: 58px;
    color: #666;
}
.alieditContainer{
    padding-left: 50px;
    margin: 20px 0;
}
.immediate-payment{
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    border:none;
    color: #fff;
    border-radius: 5px;
    margin:35px 0 50px 70px;
}




.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.alieditContainer{
    position: relative;
}

.sixDigitPassword {
    position: absolute;
    left: -122px;
    top: 0;
    width: 1000px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: initial;
    outline: 'none';
    z-index: 999;
    opacity:0;
    filter:alpha(opacity=0);
}

.sixDigitPassword-box {

    cursor:text;
    background: #fff;
    outline: none;
    position: relative;
    padding: 8px 0;
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.sixDigitPassword-box i {
    float: left;
    display: block;
    padding: 4px 0;
    height: 18px;
    border-left: 1px solid #cccccc;
}
.sixDigitPassword-box .active {
    background: url('../../imgs/passwordpay/password-blink.gif') no-repeat center center;
}
.sixDigitPassword-box b {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    overflow: hidden;
    visibility:hidden;
    background: url('../../imgs/passwordpay/passeord-dot.png') center no-repeat;
}
.sixDigitPassword-box span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 30px;
    border: 1px solid rgba(82, 168, 236, .8);
    border: 1px solid #00ffff\9;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ui-securitycore  .ui-form-item .ui-form-explain{
    margin-top: 8px;
}
.i-block{
    display:inline-block;
    color: #999;
    font-size: 14px;
}
.six-password{
    position: relative;
    height:42px;
    width:239px;
    overflow: hidden;
    vertical-align: middle;
}
.forgot-password{
    color: #67a4ff;
    padding-left: 15px;
}
